In [247]:
import pandas as pd
import numpy as np
import json

In [160]:
# need this!
# !pip install geocoder

Collecting geocoder
  Downloading geocoder-1.20.0-py2.py3-none-any.whl (69kB)
    100% |████████████████████████████████| 71kB 524kB/s ta 0:00:01
Collecting click (from geocoder)
  Downloading click-6.7-py2.py3-none-any.whl (71kB)
    100% |████████████████████████████████| 71kB 503kB/s ta 0:00:011
Requirement already satisfied (use --upgrade to upgrade): requests in /opt/conda/lib/python3.5/site-packages (from geocoder)
Requirement already satisfied (use --upgrade to upgrade): six in /opt/conda/lib/python3.5/site-packages (from geocoder)
Collecting ratelim (from geocoder)
  Downloading ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied (use --upgrade to upgrade): decorator in /opt/conda/lib/python3.5/site-packages (from ratelim->geocoder)
Installing collected packages: click, ratelim, geocoder
Successfully installed click-6.7 geocoder-1.20.0 ratelim-0.1.6
You are using pip version 8.1.2, however version 9.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [248]:
import geocoder

In [ ]:
# to download a google sheet as a csv 
# https://docs.google.com/spreadsheets/d/LONG_ID_STRING/export?format=csv&id=LONG_ID_STRING

In [255]:
df = pd.read_csv("Crowd Estimates, 1.21.2017 - By City.csv", skiprows=9,  header=None, thousands=",")
# df = pd.read_csv("Crowd Estimates, 1.21.2017 - Sheet1.csv", skiprows=6,  header=None, thousands=",")
col_names = ["place", "state", "country", "estimate_low", "estimate_high", "est3", "not121", "source", "source2", "source3"]
df.columns = col_names
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678 entries, 0 to 677
Data columns (total 10 columns):
place            678 non-null object
state            552 non-null object
country          676 non-null object
estimate_low     614 non-null float64
estimate_high    615 non-null float64
est3             5 non-null float64
not121           6 non-null float64
source           627 non-null object
source2          187 non-null object
source3          23 non-null object
dtypes: float64(4), object(6)
memory usage: 53.0+ KB

In [256]:
df

,place,state,country,estimate_low,estimate_high,est3,not121,source,source2,source3
0,"Abilene, TX",TX,US,200.0,200.0,NaN,NaN,http://www.reporternews.com/story/news/local/2...,NaN,NaN
1,"Accident, MD",MD,US,54.0,54.0,NaN,NaN,Twitter; on-site witness,NaN,NaN
2,"Adak, AK",AK,US,10.0,10.0,NaN,NaN,adn.com,NaN,NaN
3,"Adrian, MI",MI,US,130.0,150.0,NaN,NaN,https://www.facebook.com/events/847360115406578/,http://www.lenconnect.com/news/20170122/marche...,NaN
4,"Ajo, AZ",AZ,US,250.0,250.0,NaN,NaN,https://www.facebook.com/plugins/post.php?href...,NaN,NaN
5,"Alameda, CA",CA,US,8.0,8.0,NaN,NaN,FB,NaN,NaN
6,"Alamosa, CO",CO,US,350.0,350.0,NaN,NaN,https://twitter.com/zepol/status/8232349739352...,NaN,NaN
7,"Albany, CA",CA,US,500.0,500.0,NaN,NaN,https://twitter.com/ben_silverman/status/82303...,Albany PD (reported via google form),NaN
8,"Albany, NY",NY,US,7000.0,9000.0,NaN,NaN,http://www.timesunion.com/local/article/Albany...,FB,NaN
9,"Alexandria, VA",VA,US,17.0,17.0,NaN,NaN,https://twitter.com/TinaPStacy/status/82322604...,NaN,NaN
10,"Albuquerque, NM",NM,US,3000.0,20000.0,NaN,NaN,http://www.koat.com/article/thousands-fill-civ...,https://twitter.com/PatDavisNM/status/82293149...,https://twitter.com/AthertonKD/status/82321516...
11,"Almanor West, CA",CA,US,4.0,4.0,NaN,NaN,eyewitness; picture,NaN,NaN
12,"Alpine, TX",TX,US,96.0,96.0,NaN,NaN,https://twitter.com/sarahmvasquez/status/82318...,NaN,NaN
13,"Amarillo, TX",TX,US,600.0,600.0,NaN,NaN,https://www.texastribune.org/2017/01/21/thousa...,NaN,NaN
14,"Amelia Island, FL",FL,US,700.0,1300.0,NaN,NaN,http://www.firstcoastnews.com/news/womens-marc...,https://twitter.com/wideofthepost/status/82307...,NaN
15,"Anacortes, WA",WA,US,NaN,NaN,NaN,200.0,http://www.goskagit.com/skagit/hundreds-partic...,NaN,NaN
16,"Anchorage, AK",AK,US,2000.0,3000.0,NaN,NaN,https://www.adn.com/alaska-news/2017/01/21/lar...,https://twitter.com/julia_omalley/status/82290...,NaN
17,"Ann Arbor, MI",MI,US,11000.0,11000.0,NaN,NaN,http://www.mlive.com/news/ann-arbor/index.ssf/...,NaN,NaN
18,"Annapolis, MD",MD,US,1600.0,1600.0,NaN,NaN,http://www.capitalgazette.com/news/annapolis/p...,NaN,NaN
19,"Arlington, VA",VA,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,"Asbury Park, NJ",NJ,US,6000.0,6000.0,NaN,NaN,https://twitter.com/JuliaJHobbs/status/8229551...,NaN,NaN
21,"Asheville, NC",NC,US,7000.0,10000.0,NaN,NaN,http://wlos.com/news/local/photo-gallery-the-w...,http://wlos.com/news/local/photo-gallery-the-w...,NaN
22,"Ashland, OR",OR,US,6000.0,8000.0,NaN,NaN,http://www.mailtribune.com/news/20170121/voice...,http://ijpr.org/post/southern-oregon-womens-ma...,NaN
23,"Aspen, CO",CO,US,1000.0,1000.0,NaN,NaN,https://twitter.com/SarahGoTrillIum/status/823...,NaN,NaN
24,"Astoria, OR",OR,US,100.0,1000.0,NaN,NaN,http://www.dailyastorian.com/Local_News/201701...,NaN,NaN
25,"Athens, GA",GA,US,700.0,5000.0,NaN,NaN,http://onlineathens.com/slideshow/2017-01-21/p...,FB,NaN
26,"Atlanta, GA",GA,US,60000.0,63000.0,NaN,NaN,http://www.ajc.com/news/state--regional-govt--...,http://www.nbcnews.com/storyline/inauguration-...,NaN
27,"Augusta, GA",GA,US,600.0,600.0,NaN,NaN,http://chronicle.augusta.com/news/2017-01-21/h...,NaN,NaN
28,"Augusta, ME",ME,US,5000.0,10000.0,NaN,NaN,http://www.pressherald.com/2017/01/21/thousand...,http://bangordailynews.com/2017/01/21/news/sta...,NaN
29,"Austin, TX",TX,US,30000.0,50000.0,NaN,NaN,http://kut.org/post/tens-thousands-participate...,http://www.statesman.com/news/local/police-000...,NaN
...,...,...,...,...,...,...,...,...,...,...
648,"Bremerhaven, Germany",NaN,Germany,30.0,30.0,NaN,NaN,email/FB,NaN,NaN
649,"Huntsville, Ontario, Canada",NaN,Canada,30.0,30.0,NaN,NaN,https://doppleronline.ca/huntsville/sistermarc...,NaN,NaN
650,"Lilongwe, Malawi",NaN,Malawi,NaN,NaN,NaN,NaN,NaN,NaN,NaN
651,"Stavanger, Norway",NaN,Norway,NaN,NaN,NaN,NaN,NaN,NaN,NaN
652,"Isla Mujeres, Mexico",NaN,Mexico,5.0,5.0,NaN,NaN,headcount from FB photo,NaN,NaN
653,"Cuenca, Ecuador",NaN,Ecuador,20.0,50.0,NaN,NaN,http://zeromagecuador.com/en/womens-march-in-c...,NaN,NaN
654,"Belfast, UK",NaN,UK,200.0,300.0,NaN,NaN,http://www.bbc.com/news/uk-northern-ireland-38...,https://twitter.com/ferguskelly/status/8231580...,NaN
655,"Castlebar, Ireland",NaN,Ireland,120.0,120.0,NaN,NaN,https://twitter.com/ClearyConnolly/status/8232...,NaN,NaN
656,"Montpellier, France",NaN,France,500.0,3000.0,NaN,NaN,http://www.midilibre.fr/2017/01/21/montpellier...,https://twitter.com/marienoellewurm/status/823...,https://t.co/dYoxYWZ13q
657,"Guelph, ON, Canada",NaN,Canada,545.0,545.0,NaN,NaN,https://twitter.com/l2m2d2/status/823146333095...,NaN,NaN
658,"Lusaka, Zambia",NaN,Zambia,140.0,140.0,NaN,NaN,https://twitter.com/ZamWomenMarch/status/82312...,NaN,NaN
659,"Songdo, South Korea",NaN,South Korea,25.0,25.0,NaN,NaN,https://twitter.com/jodikittle/status/82310507...,NaN,NaN
660,"Shipley, UK",NaN,UK,1400.0,1400.0,NaN,NaN,https://twitter.com/chickpeajones/status/82279...,NaN,NaN
661,"Maadi Degla, Cairo, Egypt",NaN,Egypt,4.0,4.0,NaN,NaN,https://twitter.com/ABHodgkins/status/82308134...,NaN,NaN
662,"Trondheim, Norway",NaN,Norway,260.0,260.0,NaN,NaN,http://www.adressa.no/nyheter/trondheim/2017/0...,NaN,NaN
663,"Phnom Penh, Cambodia",NaN,Cambodia,NaN,NaN,NaN,NaN,https://twitter.com/TheFoolishFish/status/8231...,NaN,NaN
664,"Rabat, Morocco",NaN,Morocco,23.0,23.0,NaN,NaN,eyewitness onsite (also picture),NaN,NaN
665,"Ajijic, Mexico",NaN,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN
666,"San Pancho (San Francisco), Nayarit, Mexico",NaN,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN
667,"Riga, Latvia",NaN,Latvia,200.0,200.0,NaN,NaN,http://www.lsm.lv/en/article/politics/women-ma...,NaN,NaN
668,"Oranjestad, Aruba",NaN,Aruba,1.0,1.0,NaN,NaN,https://twitter.com/rymey/status/8233040549358...,NaN,NaN
669,"Kingston, ON, Canada",NaN,Canada,500.0,1000.0,NaN,NaN,https://www.facebook.com/events/951645474967260/,Eyewitness,NaN
670,Oaxaca,NaN,Mexico,1000.0,2000.0,NaN,NaN,eyewitness,email citing transit police,NaN
671,Mazatlan,NaN,Mexico,30.0,100.0,NaN,NaN,FB; onsite eyewitnesses and photographic evidence,NaN,NaN
672,Riva Views,NaN,Bahrain,20.0,20.0,NaN,NaN,eyewitness\n,NaN,NaN
673,Bonn,NaN,Germany,200.0,200.0,NaN,NaN,http://www.general-anzeiger-bonn.de/ga-english...,NaN,NaN
674,Heidelberg,NaN,Germany,800.0,800.0,NaN,NaN,http://www.rp-online.de/politik/ausland/women-...,NaN,NaN
675,Dusseldorf,NaN,Germany,54.0,400.0,NaN,NaN,https://www.facebook.com/events/202632113541806/,Eyewitness,NaN
676,"Lethbridge, AL",NaN,Canada,500.0,600.0,NaN,NaN,http://lethbridgeherald.com/news/lethbridge-ne...,NaN,NaN
677,Leipzig,NaN,Germany,20.0,30.0,NaN,NaN,https://www.facebook.com/leipglo/?fref=ts,NaN,NaN

In [257]:
# a few added here to fix data in spreadsheet
state_lookup = { 'AK': 'Alaska', 'AL': 'Alabama', 'AR': 'Arkansas', 'AS': 'American Samoa', 'AZ': 'Arizona', 'CA': 'California', 'CO': 'Colorado', 'CT': 'Connecticut', 'DC': 'District of Columbia', 'DE': 'Delaware', 'FL': 'Florida', 'GA': 'Georgia', 'GU': 'Guam', 'HI': 'Hawaii', 'IA': 'Iowa', 'ID': 'Idaho', 'IL': 'Illinois', 'IN': 'Indiana', 'KS': 'Kansas', 'KY': 'Kentucky', 'LA': 'Louisiana', 'MA': 'Massachusetts', 'MD': 'Maryland', 'ME': 'Maine', 'MI': 'Michigan', 'MN': 'Minnesota', 'MO': 'Missouri', 'MP': 'Northern Mariana Islands', 'MS': 'Mississippi', 'MT': 'Montana', 'NA': 'National', 'NC': 'North Carolina', 'ND': 'North Dakota', 'NE': 'Nebraska', 'NH': 'New Hampshire', 'NJ': 'New Jersey', 'NM': 'New Mexico', 'NV': 'Nevada', 'NY': 'New York', 'OH': 'Ohio', 'OK': 'Oklahoma', 'OR': 'Oregon', 'PA': 'Pennsylvania', 'PR': 'Puerto Rico', 'RI': 'Rhode Island', 'SC': 'South Carolina', 'SD': 'South Dakota', 'TN': 'Tennessee', 'TX': 'Texas', 'UT': 'Utah', 'VA': 'Virginia', 'VI': 'Virgin Islands', 'VT': 'Vermont', 'WA': 'Washington', 'WI': 'Wisconsin', 'WV': 'West Virginia', 'WY': 'Wyoming', 'CA (Seacrest)':'California', 'Guam': 'Guam'}

In [258]:
# drop what we don't care about
df.drop(["est3", "not121"], axis=1, inplace=True)
# drop rows that lack a max estimate
df.dropna(axis=0, how='any', subset=['estimate_high'], inplace=True)
df

,place,state,country,estimate_low,estimate_high,source,source2,source3
0,"Abilene, TX",TX,US,200.0,200.0,http://www.reporternews.com/story/news/local/2...,NaN,NaN
1,"Accident, MD",MD,US,54.0,54.0,Twitter; on-site witness,NaN,NaN
2,"Adak, AK",AK,US,10.0,10.0,adn.com,NaN,NaN
3,"Adrian, MI",MI,US,130.0,150.0,https://www.facebook.com/events/847360115406578/,http://www.lenconnect.com/news/20170122/marche...,NaN
4,"Ajo, AZ",AZ,US,250.0,250.0,https://www.facebook.com/plugins/post.php?href...,NaN,NaN
5,"Alameda, CA",CA,US,8.0,8.0,FB,NaN,NaN
6,"Alamosa, CO",CO,US,350.0,350.0,https://twitter.com/zepol/status/8232349739352...,NaN,NaN
7,"Albany, CA",CA,US,500.0,500.0,https://twitter.com/ben_silverman/status/82303...,Albany PD (reported via google form),NaN
8,"Albany, NY",NY,US,7000.0,9000.0,http://www.timesunion.com/local/article/Albany...,FB,NaN
9,"Alexandria, VA",VA,US,17.0,17.0,https://twitter.com/TinaPStacy/status/82322604...,NaN,NaN
10,"Albuquerque, NM",NM,US,3000.0,20000.0,http://www.koat.com/article/thousands-fill-civ...,https://twitter.com/PatDavisNM/status/82293149...,https://twitter.com/AthertonKD/status/82321516...
11,"Almanor West, CA",CA,US,4.0,4.0,eyewitness; picture,NaN,NaN
12,"Alpine, TX",TX,US,96.0,96.0,https://twitter.com/sarahmvasquez/status/82318...,NaN,NaN
13,"Amarillo, TX",TX,US,600.0,600.0,https://www.texastribune.org/2017/01/21/thousa...,NaN,NaN
14,"Amelia Island, FL",FL,US,700.0,1300.0,http://www.firstcoastnews.com/news/womens-marc...,https://twitter.com/wideofthepost/status/82307...,NaN
16,"Anchorage, AK",AK,US,2000.0,3000.0,https://www.adn.com/alaska-news/2017/01/21/lar...,https://twitter.com/julia_omalley/status/82290...,NaN
17,"Ann Arbor, MI",MI,US,11000.0,11000.0,http://www.mlive.com/news/ann-arbor/index.ssf/...,NaN,NaN
18,"Annapolis, MD",MD,US,1600.0,1600.0,http://www.capitalgazette.com/news/annapolis/p...,NaN,NaN
20,"Asbury Park, NJ",NJ,US,6000.0,6000.0,https://twitter.com/JuliaJHobbs/status/8229551...,NaN,NaN
21,"Asheville, NC",NC,US,7000.0,10000.0,http://wlos.com/news/local/photo-gallery-the-w...,http://wlos.com/news/local/photo-gallery-the-w...,NaN
22,"Ashland, OR",OR,US,6000.0,8000.0,http://www.mailtribune.com/news/20170121/voice...,http://ijpr.org/post/southern-oregon-womens-ma...,NaN
23,"Aspen, CO",CO,US,1000.0,1000.0,https://twitter.com/SarahGoTrillIum/status/823...,NaN,NaN
24,"Astoria, OR",OR,US,100.0,1000.0,http://www.dailyastorian.com/Local_News/201701...,NaN,NaN
25,"Athens, GA",GA,US,700.0,5000.0,http://onlineathens.com/slideshow/2017-01-21/p...,FB,NaN
26,"Atlanta, GA",GA,US,60000.0,63000.0,http://www.ajc.com/news/state--regional-govt--...,http://www.nbcnews.com/storyline/inauguration-...,NaN
27,"Augusta, GA",GA,US,600.0,600.0,http://chronicle.augusta.com/news/2017-01-21/h...,NaN,NaN
28,"Augusta, ME",ME,US,5000.0,10000.0,http://www.pressherald.com/2017/01/21/thousand...,http://bangordailynews.com/2017/01/21/news/sta...,NaN
29,"Austin, TX",TX,US,30000.0,50000.0,http://kut.org/post/tens-thousands-participate...,http://www.statesman.com/news/local/police-000...,NaN
30,"Avalon, CA",CA,US,44.0,44.0,https://twitter.com/lisakate111/status/8230183...,NaN,NaN
31,"Bainbridge Island, WA",WA,US,200.0,350.0,onsite eyewitness; headcount,onsite eyewitness; headcount,NaN
...,...,...,...,...,...,...,...,...
641,"North West River, Labrador, Canada",NaN,Canada,20.0,20.0,https://twitter.com/amybeatrice/status/8229007...,NaN,NaN
642,"Whitehorse, Yukon, Canada",NaN,Canada,100.0,300.0,http://www.cbc.ca/news/canada/north/yellowknif...,https://twitter.com/dougrutherford/status/8229...,NaN
643,"Yellowknife, NWT, Canada",NaN,Canada,100.0,130.0,http://www.cbc.ca/news/canada/north/yellowknif...,https://twitter.com/TheMooseCJCD/status/822924...,NaN
645,"Hanoi, Vietnam",NaN,Vietnam,27.0,27.0,via email (JP),NaN,NaN
646,"Kassel, Germany",NaN,Germany,100.0,100.0,https://www.facebook.com/savkassel/photos/pcb....,NaN,NaN
648,"Bremerhaven, Germany",NaN,Germany,30.0,30.0,email/FB,NaN,NaN
649,"Huntsville, Ontario, Canada",NaN,Canada,30.0,30.0,https://doppleronline.ca/huntsville/sistermarc...,NaN,NaN
652,"Isla Mujeres, Mexico",NaN,Mexico,5.0,5.0,headcount from FB photo,NaN,NaN
653,"Cuenca, Ecuador",NaN,Ecuador,20.0,50.0,http://zeromagecuador.com/en/womens-march-in-c...,NaN,NaN
654,"Belfast, UK",NaN,UK,200.0,300.0,http://www.bbc.com/news/uk-northern-ireland-38...,https://twitter.com/ferguskelly/status/8231580...,NaN
655,"Castlebar, Ireland",NaN,Ireland,120.0,120.0,https://twitter.com/ClearyConnolly/status/8232...,NaN,NaN
656,"Montpellier, France",NaN,France,500.0,3000.0,http://www.midilibre.fr/2017/01/21/montpellier...,https://twitter.com/marienoellewurm/status/823...,https://t.co/dYoxYWZ13q
657,"Guelph, ON, Canada",NaN,Canada,545.0,545.0,https://twitter.com/l2m2d2/status/823146333095...,NaN,NaN
658,"Lusaka, Zambia",NaN,Zambia,140.0,140.0,https://twitter.com/ZamWomenMarch/status/82312...,NaN,NaN
659,"Songdo, South Korea",NaN,South Korea,25.0,25.0,https://twitter.com/jodikittle/status/82310507...,NaN,NaN
660,"Shipley, UK",NaN,UK,1400.0,1400.0,https://twitter.com/chickpeajones/status/82279...,NaN,NaN
661,"Maadi Degla, Cairo, Egypt",NaN,Egypt,4.0,4.0,https://twitter.com/ABHodgkins/status/82308134...,NaN,NaN
662,"Trondheim, Norway",NaN,Norway,260.0,260.0,http://www.adressa.no/nyheter/trondheim/2017/0...,NaN,NaN
664,"Rabat, Morocco",NaN,Morocco,23.0,23.0,eyewitness onsite (also picture),NaN,NaN
667,"Riga, Latvia",NaN,Latvia,200.0,200.0,http://www.lsm.lv/en/article/politics/women-ma...,NaN,NaN
668,"Oranjestad, Aruba",NaN,Aruba,1.0,1.0,https://twitter.com/rymey/status/8233040549358...,NaN,NaN
669,"Kingston, ON, Canada",NaN,Canada,500.0,1000.0,https://www.facebook.com/events/951645474967260/,Eyewitness,NaN
670,Oaxaca,NaN,Mexico,1000.0,2000.0,eyewitness,email citing transit police,NaN
671,Mazatlan,NaN,Mexico,30.0,100.0,FB; onsite eyewitnesses and photographic evidence,NaN,NaN
672,Riva Views,NaN,Bahrain,20.0,20.0,eyewitness\n,NaN,NaN
673,Bonn,NaN,Germany,200.0,200.0,http://www.general-anzeiger-bonn.de/ga-english...,NaN,NaN
674,Heidelberg,NaN,Germany,800.0,800.0,http://www.rp-online.de/politik/ausland/women-...,NaN,NaN
675,Dusseldorf,NaN,Germany,54.0,400.0,https://www.facebook.com/events/202632113541806/,Eyewitness,NaN
676,"Lethbridge, AL",NaN,Canada,500.0,600.0,http://lethbridgeherald.com/news/lethbridge-ne...,NaN,NaN
677,Leipzig,NaN,Germany,20.0,30.0,https://www.facebook.com/leipglo/?fref=ts,NaN,NaN

In [259]:
# this is spelled wrong
t_town = df[ df['place']=='Tblisi, Georgia']
df.loc[t_town.index,'place'] = 'Tbilisi, Georgia'

# this is that header type row
df.drop( df[ df.place.str.contains('partial')].index, axis=0, inplace=True )

In [260]:

def fix_us_place_names(place, country):
    if country != "US":
        return place
    res  = place.split(', ')
    if len(res) < 2 or res[-1] not in state_lookup:
        return place
    state = state_lookup[res[-1]]
    res[-1]= state
    res.append('United States')
    return ', '.join(res)

# z = "Abilene, TX"
# # z = "Encinitas, CA (Seacrest)"
# country = "US"
# fix_us_place_names(z, country)

# df['col'] = 'str' + df['col'].astype(str)
# df["new_column"] = df.apply(lambda x: x["A"] * x["B"], axis = 1)
# df.columns = df.columns.append('full_place')

# create a new col with the full place name, for easier geocoding
df = df.assign(full_place=df.place)
df.full_place = df.apply(lambda x: fix_us_place_names(x.place, x.country) , axis=1 )

In [ ]:
# g = geocoder.google("New York, New York, United States")
# g.latlng

In [220]:
cache = {}

In [262]:
# make our new cols
df = df.assign(latlng=df.place)
df = df.assign(lng=df.place)


def get_lat(x): 
    if x in cache:
        return cache[x][0]    
    print(x)
    g = geocoder.google(x)
    if g.latlng:
        cache[x] = g.latlng
        return g.latlng[0]
    else:
        return pd.np.nan

def get_lng(x): 
    if x in cache:
        return cache[x][1]
    print(x)
    g = geocoder.google(x)
    if g.latlng:
        cache[x] = g.latlng        
        return g.latlng[1]
    else:
        return pd.np.nan

df['lat'] = df.full_place.apply(lambda x: get_lat(x) )
df['lng'] = df.full_place.apply(lambda x: get_lng(x) )
df
# this can actually be run multiple times, which will fix missing data

Beaufort
Beaver Island, Michigan, United States
Columbia, Maryland, United States
Greensburg, Indiana, United States
Milhelm, Pennsylvania, United States
Romney, West Virginia, United States
Sausalito, California, United States
Tenants Harbor, Maine, United States
Unalaska (Dutch Harbor)
Pristina, Kosovo
Florence, Italy
Lisbon, Portugal
Kingston, ON, Canada
Mazatlan
Riva Views
Bonn
Heidelberg
Dusseldorf
Lethbridge, AL
Leipzig
Milhelm, Pennsylvania, United States

,place,state,country,estimate_low,estimate_high,source,source2,source3,full_place,latlng,lng,lat
0,"Abilene, TX",TX,US,200.0,200.0,http://www.reporternews.com/story/news/local/2...,NaN,NaN,"Abilene, Texas, United States","Abilene, TX",-99.733144,32.448736
1,"Accident, MD",MD,US,54.0,54.0,Twitter; on-site witness,NaN,NaN,"Accident, Maryland, United States","Accident, MD",-79.319759,39.628696
2,"Adak, AK",AK,US,10.0,10.0,adn.com,NaN,NaN,"Adak, Alaska, United States","Adak, AK",-176.658056,51.880000
3,"Adrian, MI",MI,US,130.0,150.0,https://www.facebook.com/events/847360115406578/,http://www.lenconnect.com/news/20170122/marche...,NaN,"Adrian, Michigan, United States","Adrian, MI",-84.037166,41.897547
4,"Ajo, AZ",AZ,US,250.0,250.0,https://www.facebook.com/plugins/post.php?href...,NaN,NaN,"Ajo, Arizona, United States","Ajo, AZ",-112.860710,32.371725
5,"Alameda, CA",CA,US,8.0,8.0,FB,NaN,NaN,"Alameda, California, United States","Alameda, CA",-122.241636,37.765206
6,"Alamosa, CO",CO,US,350.0,350.0,https://twitter.com/zepol/status/8232349739352...,NaN,NaN,"Alamosa, Colorado, United States","Alamosa, CO",-105.870021,37.469449
7,"Albany, CA",CA,US,500.0,500.0,https://twitter.com/ben_silverman/status/82303...,Albany PD (reported via google form),NaN,"Albany, California, United States","Albany, CA",-122.297747,37.886870
8,"Albany, NY",NY,US,7000.0,9000.0,http://www.timesunion.com/local/article/Albany...,FB,NaN,"Albany, New York, United States","Albany, NY",-73.756232,42.652579
9,"Alexandria, VA",VA,US,17.0,17.0,https://twitter.com/TinaPStacy/status/82322604...,NaN,NaN,"Alexandria, Virginia, United States","Alexandria, VA",-77.046921,38.804836
10,"Albuquerque, NM",NM,US,3000.0,20000.0,http://www.koat.com/article/thousands-fill-civ...,https://twitter.com/PatDavisNM/status/82293149...,https://twitter.com/AthertonKD/status/82321516...,"Albuquerque, New Mexico, United States","Albuquerque, NM",-106.605553,35.085334
11,"Almanor West, CA",CA,US,4.0,4.0,eyewitness; picture,NaN,NaN,"Almanor West, California, United States","Almanor West, CA",-121.202534,40.234637
12,"Alpine, TX",TX,US,96.0,96.0,https://twitter.com/sarahmvasquez/status/82318...,NaN,NaN,"Alpine, Texas, United States","Alpine, TX",-103.661012,30.358492
13,"Amarillo, TX",TX,US,600.0,600.0,https://www.texastribune.org/2017/01/21/thousa...,NaN,NaN,"Amarillo, Texas, United States","Amarillo, TX",-101.831297,35.221997
14,"Amelia Island, FL",FL,US,700.0,1300.0,http://www.firstcoastnews.com/news/womens-marc...,https://twitter.com/wideofthepost/status/82307...,NaN,"Amelia Island, Florida, United States","Amelia Island, FL",-81.460856,30.626570
16,"Anchorage, AK",AK,US,2000.0,3000.0,https://www.adn.com/alaska-news/2017/01/21/lar...,https://twitter.com/julia_omalley/status/82290...,NaN,"Anchorage, Alaska, United States","Anchorage, AK",-149.900278,61.218056
17,"Ann Arbor, MI",MI,US,11000.0,11000.0,http://www.mlive.com/news/ann-arbor/index.ssf/...,NaN,NaN,"Ann Arbor, Michigan, United States","Ann Arbor, MI",-83.743038,42.280826
18,"Annapolis, MD",MD,US,1600.0,1600.0,http://www.capitalgazette.com/news/annapolis/p...,NaN,NaN,"Annapolis, Maryland, United States","Annapolis, MD",-76.492183,38.978445
20,"Asbury Park, NJ",NJ,US,6000.0,6000.0,https://twitter.com/JuliaJHobbs/status/8229551...,NaN,NaN,"Asbury Park, New Jersey, United States","Asbury Park, NJ",-74.012082,40.220391
21,"Asheville, NC",NC,US,7000.0,10000.0,http://wlos.com/news/local/photo-gallery-the-w...,http://wlos.com/news/local/photo-gallery-the-w...,NaN,"Asheville, North Carolina, United States","Asheville, NC",-82.551487,35.595058
22,"Ashland, OR",OR,US,6000.0,8000.0,http://www.mailtribune.com/news/20170121/voice...,http://ijpr.org/post/southern-oregon-womens-ma...,NaN,"Ashland, Oregon, United States","Ashland, OR",-122.709477,42.194576
23,"Aspen, CO",CO,US,1000.0,1000.0,https://twitter.com/SarahGoTrillIum/status/823...,NaN,NaN,"Aspen, Colorado, United States","Aspen, CO",-106.817539,39.191098
24,"Astoria, OR",OR,US,100.0,1000.0,http://www.dailyastorian.com/Local_News/201701...,NaN,NaN,"Astoria, Oregon, United States","Astoria, OR",-123.831253,46.187884
25,"Athens, GA",GA,US,700.0,5000.0,http://onlineathens.com/slideshow/2017-01-21/p...,FB,NaN,"Athens, Georgia, United States","Athens, GA",-83.357567,33.951935
26,"Atlanta, GA",GA,US,60000.0,63000.0,http://www.ajc.com/news/state--regional-govt--...,http://www.nbcnews.com/storyline/inauguration-...,NaN,"Atlanta, Georgia, United States","Atlanta, GA",-84.387982,33.748995
27,"Augusta, GA",GA,US,600.0,600.0,http://chronicle.augusta.com/news/2017-01-21/h...,NaN,NaN,"Augusta, Georgia, United States","Augusta, GA",-82.010515,33.473498
28,"Augusta, ME",ME,US,5000.0,10000.0,http://www.pressherald.com/2017/01/21/thousand...,http://bangordailynews.com/2017/01/21/news/sta...,NaN,"Augusta, Maine, United States","Augusta, ME",-69.779490,44.310624
29,"Austin, TX",TX,US,30000.0,50000.0,http://kut.org/post/tens-thousands-participate...,http://www.statesman.com/news/local/police-000...,NaN,"Austin, Texas, United States","Austin, TX",-97.743061,30.267153
30,"Avalon, CA",CA,US,44.0,44.0,https://twitter.com/lisakate111/status/8230183...,NaN,NaN,"Avalon, California, United States","Avalon, CA",-118.328228,33.342819
31,"Bainbridge Island, WA",WA,US,200.0,350.0,onsite eyewitness; headcount,onsite eyewitness; headcount,NaN,"Bainbridge Island, Washington, United States","Bainbridge Island, WA",-122.521001,47.624879
...,...,...,...,...,...,...,...,...,...,...,...,...
641,"North West River, Labrador, Canada",NaN,Canada,20.0,20.0,https://twitter.com/amybeatrice/status/8229007...,NaN,NaN,"North West River, Labrador, Canada","North West River, Labrador, Canada",-60.142970,53.525511
642,"Whitehorse, Yukon, Canada",NaN,Canada,100.0,300.0,http://www.cbc.ca/news/canada/north/yellowknif...,https://twitter.com/dougrutherford/status/8229...,NaN,"Whitehorse, Yukon, Canada","Whitehorse, Yukon, Canada",-135.056845,60.721187
643,"Yellowknife, NWT, Canada",NaN,Canada,100.0,130.0,http://www.cbc.ca/news/canada/north/yellowknif...,https://twitter.com/TheMooseCJCD/status/822924...,NaN,"Yellowknife, NWT, Canada","Yellowknife, NWT, Canada",-114.371789,62.453972
645,"Hanoi, Vietnam",NaN,Vietnam,27.0,27.0,via email (JP),NaN,NaN,"Hanoi, Vietnam","Hanoi, Vietnam",105.834160,21.027764
646,"Kassel, Germany",NaN,Germany,100.0,100.0,https://www.facebook.com/savkassel/photos/pcb....,NaN,NaN,"Kassel, Germany","Kassel, Germany",9.479746,51.312711
648,"Bremerhaven, Germany",NaN,Germany,30.0,30.0,email/FB,NaN,NaN,"Bremerhaven, Germany","Bremerhaven, Germany",8.580942,53.539584
649,"Huntsville, Ontario, Canada",NaN,Canada,30.0,30.0,https://doppleronline.ca/huntsville/sistermarc...,NaN,NaN,"Huntsville, Ontario, Canada","Huntsville, Ontario, Canada",-79.216754,45.326932
652,"Isla Mujeres, Mexico",NaN,Mexico,5.0,5.0,headcount from FB photo,NaN,NaN,"Isla Mujeres, Mexico","Isla Mujeres, Mexico",-86.735768,21.236695
653,"Cuenca, Ecuador",NaN,Ecuador,20.0,50.0,http://zeromagecuador.com/en/womens-march-in-c...,NaN,NaN,"Cuenca, Ecuador","Cuenca, Ecuador",-79.005896,-2.900129
654,"Belfast, UK",NaN,UK,200.0,300.0,http://www.bbc.com/news/uk-northern-ireland-38...,https://twitter.com/ferguskelly/status/8231580...,NaN,"Belfast, UK","Belfast, UK",-5.930120,54.597285
655,"Castlebar, Ireland",NaN,Ireland,120.0,120.0,https://twitter.com/ClearyConnolly/status/8232...,NaN,NaN,"Castlebar, Ireland","Castlebar, Ireland",-9.287926,53.855001
656,"Montpellier, France",NaN,France,500.0,3000.0,http://www.midilibre.fr/2017/01/21/montpellier...,https://twitter.com/marienoellewurm/status/823...,https://t.co/dYoxYWZ13q,"Montpellier, France","Montpellier, France",3.876716,43.610769
657,"Guelph, ON, Canada",NaN,Canada,545.0,545.0,https://twitter.com/l2m2d2/status/823146333095...,NaN,NaN,"Guelph, ON, Canada","Guelph, ON, Canada",-80.248167,43.544805
658,"Lusaka, Zambia",NaN,Zambia,140.0,140.0,https://twitter.com/ZamWomenMarch/status/82312...,NaN,NaN,"Lusaka, Zambia","Lusaka, Zambia",28.322816,-15.387526
659,"Songdo, South Korea",NaN,South Korea,25.0,25.0,https://twitter.com/jodikittle/status/82310507...,NaN,NaN,"Songdo, South Korea","Songdo, South Korea",126.643855,37.383912
660,"Shipley, UK",NaN,UK,1400.0,1400.0,https://twitter.com/chickpeajones/status/82279...,NaN,NaN,"Shipley, UK","Shipley, UK",-1.776978,53.835927
661,"Maadi Degla, Cairo, Egypt",NaN,Egypt,4.0,4.0,https://twitter.com/ABHodgkins/status/82308134...,NaN,NaN,"Maadi Degla, Cairo, Egypt","Maadi Degla, Cairo, Egypt",31.271634,29.954535
662,"Trondheim, Norway",NaN,Norway,260.0,260.0,http://www.adressa.no/nyheter/trondheim/2017/0...,NaN,NaN,"Trondheim, Norway","Trondheim, Norway",10.395053,63.430515
664,"Rabat, Morocco",NaN,Morocco,23.0,23.0,eyewitness onsite (also picture),NaN,NaN,"Rabat, Morocco","Rabat, Morocco",-6.849813,33.971590
667,"Riga, Latvia",NaN,Latvia,200.0,200.0,http://www.lsm.lv/en/article/politics/women-ma...,NaN,NaN,"Riga, Latvia","Riga, Latvia",24.105186,56.949649
668,"Oranjestad, Aruba",NaN,Aruba,1.0,1.0,https://twitter.com/rymey/status/8233040549358...,NaN,NaN,"Oranjestad, Aruba","Oranjestad, Aruba",-70.008631,12.509204
669,"Kingston, ON, Canada",NaN,Canada,500.0,1000.0,https://www.facebook.com/events/951645474967260/,Eyewitness,NaN,"Kingston, ON, Canada","Kingston, ON, Canada",-76.485954,44.231172
670,Oaxaca,NaN,Mexico,1000.0,2000.0,eyewitness,email citing transit police,NaN,Oaxaca,Oaxaca,-96.721903,17.068631
671,Mazatlan,NaN,Mexico,30.0,100.0,FB; onsite eyewitnesses and photographic evidence,NaN,NaN,Mazatlan,Mazatlan,-106.411142,23.249415
672,Riva Views,NaN,Bahrain,20.0,20.0,eyewitness\n,NaN,NaN,Riva Views,Riva Views,-76.591715,38.958013
673,Bonn,NaN,Germany,200.0,200.0,http://www.general-anzeiger-bonn.de/ga-english...,NaN,NaN,Bonn,Bonn,7.098207,50.737430
674,Heidelberg,NaN,Germany,800.0,800.0,http://www.rp-online.de/politik/ausland/women-...,NaN,NaN,Heidelberg,Heidelberg,8.672434,49.398752
675,Dusseldorf,NaN,Germany,54.0,400.0,https://www.facebook.com/events/202632113541806/,Eyewitness,NaN,Dusseldorf,Dusseldorf,6.773456,51.227741
676,"Lethbridge, AL",NaN,Canada,500.0,600.0,http://lethbridgeherald.com/news/lethbridge-ne...,NaN,NaN,"Lethbridge, AL","Lethbridge, AL",-112.841840,49.693490
677,Leipzig,NaN,Germany,20.0,30.0,https://www.facebook.com/leipglo/?fref=ts,NaN,NaN,Leipzig,Leipzig,12.373075,51.339695

In [263]:
# df.dropna(axis=0, how='any', subset=['lat', 'lng'], inplace=True)
# df.drop(["latlng"], axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 614 entries, 0 to 677
Data columns (total 12 columns):
place            614 non-null object
state            511 non-null object
country          614 non-null object
estimate_low     613 non-null float64
estimate_high    614 non-null float64
source           611 non-null object
source2          187 non-null object
source3          23 non-null object
full_place       614 non-null object
latlng           614 non-null object
lng              613 non-null float64
lat              613 non-null float64
dtypes: float64(4), object(8)
memory usage: 62.4+ KB

In [264]:
df.to_json("marches.json", orient="records")

In [265]:

# df.info()
# cache['Madison, Wisconsin, United States']
# df [ df['full_place']== "Madison, Wisconsin, United States" ]
# df[df.lat == False]
# df[df.lng == False]