In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
# need this!
!pip install geocoder

Collecting geocoder
  Downloading geocoder-1.20.0-py2.py3-none-any.whl (69kB)
    100% |████████████████████████████████| 71kB 5.9MB/s eta 0:00:01
Collecting click (from geocoder)
  Downloading click-6.7-py2.py3-none-any.whl (71kB)
    100% |████████████████████████████████| 71kB 6.5MB/s eta 0:00:01
Collecting ratelim (from geocoder)
  Downloading ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied (use --upgrade to upgrade): requests in /opt/conda/lib/python3.5/site-packages (from geocoder)
Requirement already satisfied (use --upgrade to upgrade): six in /opt/conda/lib/python3.5/site-packages (from geocoder)
Requirement already satisfied (use --upgrade to upgrade): decorator in /opt/conda/lib/python3.5/site-packages (from ratelim->geocoder)
Installing collected packages: click, ratelim, geocoder
Successfully installed click-6.7 geocoder-1.20.0 ratelim-0.1.6
You are using pip version 8.1.2, however version 9.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [3]:
import geocoder

In [ ]:
# to download a google sheet as a csv 
# https://docs.google.com/spreadsheets/d/LONG_ID_STRING/export?format=csv&id=LONG_ID_STRING
# https://docs.google.com/spreadsheets/d/1xa0iLqYKz8x9Yc_rfhtmSOJQ2EGgeUVjvV4A8LsIaxY/export?format=csv&id=1xa0iLqYKz8x9Yc_rfhtmSOJQ2EGgeUVjvV4A8LsIaxY

In [12]:
# df = pd.read_csv("Crowd Estimates, 1.21.2017 - By City.csv", skiprows=9,  header=None, thousands=",")
df = pd.read_csv("Crowd Estimates, 1.21.2017 - Sheet1.csv", skiprows=9,  header=None, thousands=",")
col_names = ["place", "state", "country", "estimate_low", "estimate_high", "est3", "not121", "source", "source2", "source3", "a", "b", "c","d","e", "f", "g", "h", "i", "j", "k", "l"]
df.columns = col_names
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 22 columns):
place            939 non-null object
state            669 non-null object
country          934 non-null object
estimate_low     866 non-null float64
estimate_high    864 non-null float64
est3             5 non-null float64
not121           21 non-null float64
source           891 non-null object
source2          356 non-null object
source3          74 non-null object
a                937 non-null float64
b                78 non-null object
c                140 non-null object
d                139 non-null float64
e                87 non-null float64
f                87 non-null float64
g                257 non-null float64
h                257 non-null float64
i                31 non-null float64
j                31 non-null float64
k                275 non-null float64
l                275 non-null float64
dtypes: float64(14), object(8)
memory usage: 161.6+ KB

In [256]:
df

,place,state,country,estimate_low,estimate_high,est3,not121,source,source2,source3
0,"Abilene, TX",TX,US,200.0,200.0,NaN,NaN,http://www.reporternews.com/story/news/local/2...,NaN,NaN
1,"Accident, MD",MD,US,54.0,54.0,NaN,NaN,Twitter; on-site witness,NaN,NaN
2,"Adak, AK",AK,US,10.0,10.0,NaN,NaN,adn.com,NaN,NaN
3,"Adrian, MI",MI,US,130.0,150.0,NaN,NaN,https://www.facebook.com/events/847360115406578/,http://www.lenconnect.com/news/20170122/marche...,NaN
4,"Ajo, AZ",AZ,US,250.0,250.0,NaN,NaN,https://www.facebook.com/plugins/post.php?href...,NaN,NaN
5,"Alameda, CA",CA,US,8.0,8.0,NaN,NaN,FB,NaN,NaN
6,"Alamosa, CO",CO,US,350.0,350.0,NaN,NaN,https://twitter.com/zepol/status/8232349739352...,NaN,NaN
7,"Albany, CA",CA,US,500.0,500.0,NaN,NaN,https://twitter.com/ben_silverman/status/82303...,Albany PD (reported via google form),NaN
8,"Albany, NY",NY,US,7000.0,9000.0,NaN,NaN,http://www.timesunion.com/local/article/Albany...,FB,NaN
9,"Alexandria, VA",VA,US,17.0,17.0,NaN,NaN,https://twitter.com/TinaPStacy/status/82322604...,NaN,NaN
10,"Albuquerque, NM",NM,US,3000.0,20000.0,NaN,NaN,http://www.koat.com/article/thousands-fill-civ...,https://twitter.com/PatDavisNM/status/82293149...,https://twitter.com/AthertonKD/status/82321516...
11,"Almanor West, CA",CA,US,4.0,4.0,NaN,NaN,eyewitness; picture,NaN,NaN
12,"Alpine, TX",TX,US,96.0,96.0,NaN,NaN,https://twitter.com/sarahmvasquez/status/82318...,NaN,NaN
13,"Amarillo, TX",TX,US,600.0,600.0,NaN,NaN,https://www.texastribune.org/2017/01/21/thousa...,NaN,NaN
14,"Amelia Island, FL",FL,US,700.0,1300.0,NaN,NaN,http://www.firstcoastnews.com/news/womens-marc...,https://twitter.com/wideofthepost/status/82307...,NaN
15,"Anacortes, WA",WA,US,NaN,NaN,NaN,200.0,http://www.goskagit.com/skagit/hundreds-partic...,NaN,NaN
16,"Anchorage, AK",AK,US,2000.0,3000.0,NaN,NaN,https://www.adn.com/alaska-news/2017/01/21/lar...,https://twitter.com/julia_omalley/status/82290...,NaN
17,"Ann Arbor, MI",MI,US,11000.0,11000.0,NaN,NaN,http://www.mlive.com/news/ann-arbor/index.ssf/...,NaN,NaN
18,"Annapolis, MD",MD,US,1600.0,1600.0,NaN,NaN,http://www.capitalgazette.com/news/annapolis/p...,NaN,NaN
19,"Arlington, VA",VA,US,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,"Asbury Park, NJ",NJ,US,6000.0,6000.0,NaN,NaN,https://twitter.com/JuliaJHobbs/status/8229551...,NaN,NaN
21,"Asheville, NC",NC,US,7000.0,10000.0,NaN,NaN,http://wlos.com/news/local/photo-gallery-the-w...,http://wlos.com/news/local/photo-gallery-the-w...,NaN
22,"Ashland, OR",OR,US,6000.0,8000.0,NaN,NaN,http://www.mailtribune.com/news/20170121/voice...,http://ijpr.org/post/southern-oregon-womens-ma...,NaN
23,"Aspen, CO",CO,US,1000.0,1000.0,NaN,NaN,https://twitter.com/SarahGoTrillIum/status/823...,NaN,NaN
24,"Astoria, OR",OR,US,100.0,1000.0,NaN,NaN,http://www.dailyastorian.com/Local_News/201701...,NaN,NaN
25,"Athens, GA",GA,US,700.0,5000.0,NaN,NaN,http://onlineathens.com/slideshow/2017-01-21/p...,FB,NaN
26,"Atlanta, GA",GA,US,60000.0,63000.0,NaN,NaN,http://www.ajc.com/news/state--regional-govt--...,http://www.nbcnews.com/storyline/inauguration-...,NaN
27,"Augusta, GA",GA,US,600.0,600.0,NaN,NaN,http://chronicle.augusta.com/news/2017-01-21/h...,NaN,NaN
28,"Augusta, ME",ME,US,5000.0,10000.0,NaN,NaN,http://www.pressherald.com/2017/01/21/thousand...,http://bangordailynews.com/2017/01/21/news/sta...,NaN
29,"Austin, TX",TX,US,30000.0,50000.0,NaN,NaN,http://kut.org/post/tens-thousands-participate...,http://www.statesman.com/news/local/police-000...,NaN
...,...,...,...,...,...,...,...,...,...,...
648,"Bremerhaven, Germany",NaN,Germany,30.0,30.0,NaN,NaN,email/FB,NaN,NaN
649,"Huntsville, Ontario, Canada",NaN,Canada,30.0,30.0,NaN,NaN,https://doppleronline.ca/huntsville/sistermarc...,NaN,NaN
650,"Lilongwe, Malawi",NaN,Malawi,NaN,NaN,NaN,NaN,NaN,NaN,NaN
651,"Stavanger, Norway",NaN,Norway,NaN,NaN,NaN,NaN,NaN,NaN,NaN
652,"Isla Mujeres, Mexico",NaN,Mexico,5.0,5.0,NaN,NaN,headcount from FB photo,NaN,NaN
653,"Cuenca, Ecuador",NaN,Ecuador,20.0,50.0,NaN,NaN,http://zeromagecuador.com/en/womens-march-in-c...,NaN,NaN
654,"Belfast, UK",NaN,UK,200.0,300.0,NaN,NaN,http://www.bbc.com/news/uk-northern-ireland-38...,https://twitter.com/ferguskelly/status/8231580...,NaN
655,"Castlebar, Ireland",NaN,Ireland,120.0,120.0,NaN,NaN,https://twitter.com/ClearyConnolly/status/8232...,NaN,NaN
656,"Montpellier, France",NaN,France,500.0,3000.0,NaN,NaN,http://www.midilibre.fr/2017/01/21/montpellier...,https://twitter.com/marienoellewurm/status/823...,https://t.co/dYoxYWZ13q
657,"Guelph, ON, Canada",NaN,Canada,545.0,545.0,NaN,NaN,https://twitter.com/l2m2d2/status/823146333095...,NaN,NaN
658,"Lusaka, Zambia",NaN,Zambia,140.0,140.0,NaN,NaN,https://twitter.com/ZamWomenMarch/status/82312...,NaN,NaN
659,"Songdo, South Korea",NaN,South Korea,25.0,25.0,NaN,NaN,https://twitter.com/jodikittle/status/82310507...,NaN,NaN
660,"Shipley, UK",NaN,UK,1400.0,1400.0,NaN,NaN,https://twitter.com/chickpeajones/status/82279...,NaN,NaN
661,"Maadi Degla, Cairo, Egypt",NaN,Egypt,4.0,4.0,NaN,NaN,https://twitter.com/ABHodgkins/status/82308134...,NaN,NaN
662,"Trondheim, Norway",NaN,Norway,260.0,260.0,NaN,NaN,http://www.adressa.no/nyheter/trondheim/2017/0...,NaN,NaN
663,"Phnom Penh, Cambodia",NaN,Cambodia,NaN,NaN,NaN,NaN,https://twitter.com/TheFoolishFish/status/8231...,NaN,NaN
664,"Rabat, Morocco",NaN,Morocco,23.0,23.0,NaN,NaN,eyewitness onsite (also picture),NaN,NaN
665,"Ajijic, Mexico",NaN,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN
666,"San Pancho (San Francisco), Nayarit, Mexico",NaN,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN
667,"Riga, Latvia",NaN,Latvia,200.0,200.0,NaN,NaN,http://www.lsm.lv/en/article/politics/women-ma...,NaN,NaN
668,"Oranjestad, Aruba",NaN,Aruba,1.0,1.0,NaN,NaN,https://twitter.com/rymey/status/8233040549358...,NaN,NaN
669,"Kingston, ON, Canada",NaN,Canada,500.0,1000.0,NaN,NaN,https://www.facebook.com/events/951645474967260/,Eyewitness,NaN
670,Oaxaca,NaN,Mexico,1000.0,2000.0,NaN,NaN,eyewitness,email citing transit police,NaN
671,Mazatlan,NaN,Mexico,30.0,100.0,NaN,NaN,FB; onsite eyewitnesses and photographic evidence,NaN,NaN
672,Riva Views,NaN,Bahrain,20.0,20.0,NaN,NaN,eyewitness\n,NaN,NaN
673,Bonn,NaN,Germany,200.0,200.0,NaN,NaN,http://www.general-anzeiger-bonn.de/ga-english...,NaN,NaN
674,Heidelberg,NaN,Germany,800.0,800.0,NaN,NaN,http://www.rp-online.de/politik/ausland/women-...,NaN,NaN
675,Dusseldorf,NaN,Germany,54.0,400.0,NaN,NaN,https://www.facebook.com/events/202632113541806/,Eyewitness,NaN
676,"Lethbridge, AL",NaN,Canada,500.0,600.0,NaN,NaN,http://lethbridgeherald.com/news/lethbridge-ne...,NaN,NaN
677,Leipzig,NaN,Germany,20.0,30.0,NaN,NaN,https://www.facebook.com/leipglo/?fref=ts,NaN,NaN

In [8]:
# a few added here to fix data in spreadsheet
state_lookup = { 'AK': 'Alaska', 'AL': 'Alabama', 'AR': 'Arkansas', 'AS': 'American Samoa', 'AZ': 'Arizona', 'CA': 'California', 'CO': 'Colorado', 'CT': 'Connecticut', 'DC': 'District of Columbia', 'DE': 'Delaware', 'FL': 'Florida', 'GA': 'Georgia', 'GU': 'Guam', 'HI': 'Hawaii', 'IA': 'Iowa', 'ID': 'Idaho', 'IL': 'Illinois', 'IN': 'Indiana', 'KS': 'Kansas', 'KY': 'Kentucky', 'LA': 'Louisiana', 'MA': 'Massachusetts', 'MD': 'Maryland', 'ME': 'Maine', 'MI': 'Michigan', 'MN': 'Minnesota', 'MO': 'Missouri', 'MP': 'Northern Mariana Islands', 'MS': 'Mississippi', 'MT': 'Montana', 'NA': 'National', 'NC': 'North Carolina', 'ND': 'North Dakota', 'NE': 'Nebraska', 'NH': 'New Hampshire', 'NJ': 'New Jersey', 'NM': 'New Mexico', 'NV': 'Nevada', 'NY': 'New York', 'OH': 'Ohio', 'OK': 'Oklahoma', 'OR': 'Oregon', 'PA': 'Pennsylvania', 'PR': 'Puerto Rico', 'RI': 'Rhode Island', 'SC': 'South Carolina', 'SD': 'South Dakota', 'TN': 'Tennessee', 'TX': 'Texas', 'UT': 'Utah', 'VA': 'Virginia', 'VI': 'Virgin Islands', 'VT': 'Vermont', 'WA': 'Washington', 'WI': 'Wisconsin', 'WV': 'West Virginia', 'WY': 'Wyoming', 'CA (Seacrest)':'California', 'Guam': 'Guam'}

In [13]:
# drop what we don't care about
df.drop(["est3", "not121"], axis=1, inplace=True)
# "a", "b", "c","d","e", "f", "g", "h", "i", "j", "k", "l"
df.drop(["a", "b", "c","d","e", "f", "g", "h", "i", "j", "k", "l"], axis=1, inplace=True)
# drop rows that lack a max estimate
df.dropna(axis=0, how='any', subset=['estimate_high'], inplace=True)
df

,place,state,country,estimate_low,estimate_high,source,source2,source3
2,"Abilene, TX",TX,US,200.0,200.0,http://www.reporternews.com/story/news/local/2...,NaN,NaN
3,"Accident, MD",MD,US,54.0,54.0,http://www.riverfronttimes.com/newsblog/2017/0...,NaN,Twitter; on-site witness
4,"Adak, AK",AK,US,10.0,10.0,adn.com,NaN,NaN
5,"Adrian, MI",MI,US,150.0,150.0,http://www.lenconnect.com/news/20170122/marche...,http://www.lenconnect.com/news/20170122/marche...,NaN
6,"Ajo, AZ",AZ,US,250.0,250.0,https://www.facebook.com/plugins/post.php?href...,NaN,NaN
7,"Alameda, CA",CA,US,8.0,8.0,FB,NaN,NaN
8,"Alamosa, CO",CO,US,350.0,350.0,https://twitter.com/zepol/status/8232349739352...,NaN,NaN
9,"Albany, CA",CA,US,500.0,500.0,https://twitter.com/ben_silverman/status/82303...,Albany PD (reported via google form),NaN
10,"Albany, NY",NY,US,7000.0,9000.0,http://www.timesunion.com/local/article/Albany...,FB,NaN
11,"Alexandria, VA",VA,US,17.0,17.0,https://twitter.com/TinaPStacy/status/82322604...,NaN,NaN
12,"Albuquerque, NM",NM,US,3000.0,15000.0,http://www.koat.com/article/thousands-fill-civ...,https://twitter.com/PatDavisNM/status/82293149...,https://twitter.com/AthertonKD/status/82321516...
13,"Alliance, NE",NE,US,100.0,150.0,eyewtiness onsite w/ headcount,NaN,NaN
14,"Almanor West, CA",CA,US,4.0,4.0,eyewitness; picture,NaN,NaN
15,"Alpine, TX",TX,US,96.0,96.0,https://twitter.com/sarahmvasquez/status/82318...,NaN,NaN
17,"Amarillo, TX",TX,US,600.0,700.0,https://www.texastribune.org/2017/01/21/thousa...,http://www.myhighplains.com/news/hundreds-gath...,NaN
18,"Amelia Island, FL",FL,US,700.0,1367.0,http://www.firstcoastnews.com/news/womens-marc...,https://twitter.com/wideofthepost/status/82307...,http://www.ncflindependent.com/2017/01/21/stan...
19,"Anacortes, WA",WA,US,1200.0,1200.0,http://www.goskagit.com/skagit/hundreds-partic...,NaN,NaN
20,"Anchorage, AK",AK,US,2000.0,4000.0,https://www.adn.com/alaska-news/2017/01/21/lar...,https://twitter.com/julia_omalley/status/82290...,http://www.ktuu.com/content/news/Thousands-of-...
21,"Angola, IN",IN,US,24.0,60.0,http://wane.com/2017/01/21/womens-marches-in-a...,http://kpcnews.com/news/latest/heraldrepublican/,NaN
22,"Ann Arbor, MI",MI,US,11000.0,11000.0,http://www.mlive.com/news/ann-arbor/index.ssf/...,NaN,NaN
23,"Annapolis, MD",MD,US,1600.0,1600.0,http://www.capitalgazette.com/news/annapolis/p...,NaN,NaN
24,"Annville, PA",PA,US,30.0,30.0,http://www.ldnews.com/videos/news/2017/01/21/w...,onsite eyewitness via google form,NaN
25,"Appleton, WI",WI,US,3.0,3.0,http://www.sheboyganpress.com/story/news/local...,http://www.postcrescent.com/story/news/local/2...,NaN
26,"Arden, DE",DE,US,40.0,50.0,onsite eyewitness via google form; did headcount,FB,NaN
28,"Asbury Park, NJ",NJ,US,6000.0,6000.0,https://twitter.com/JuliaJHobbs/status/8229551...,NaN,NaN
29,"Asheville, NC",NC,US,7000.0,10000.0,http://wlos.com/news/local/photo-gallery-the-w...,http://wlos.com/news/local/photo-gallery-the-w...,NaN
30,"Ashland, OR",OR,US,8000.0,15000.0,http://www.oregonlive.com/trending/2017/01/wom...,NaN,NaN
31,"Aspen, CO",CO,US,200.0,1000.0,http://www.aspendailynews.com/section/home/174009,https://twitter.com/SarahGoTrillIum/status/823...,NaN
32,"Astoria, OR",OR,US,1300.0,1600.0,http://www.dailyastorian.com/Local_News/201701...,http://www.kast1370.com/index.php?option=com_c...,NaN
33,"Athens, GA",GA,US,700.0,5000.0,http://onlineathens.com/slideshow/2017-01-21/p...,FB,NaN
...,...,...,...,...,...,...,...,...
906,"Taipa, Macau",NaN,Macau,100.0,100.0,http://aamacau.com/2017/01/22/%E9%9F%BF%E6%87%...,http://www.macaupostdaily.com/article2236.html,NaN
907,"Tblisi, Georgia",NaN,Georgia,300.0,300.0,http://dfwatch.net/tbilisi-joins-global-womens...,NaN,NaN
908,"Tel Aviv, Israel",NaN,Israel,300.0,500.0,on site report with crowd-counting via flyer d...,https://twitter.com/melanielidman/status/82287...,NaN
909,Thessoloniki,NaN,Greece,36.0,36.0,http://www.centralctcommunications.com/newbrit...,NaN,NaN
910,Todos Santos,NaN,Mexico,200.0,300.0,onsite eyewitness,NaN,NaN
911,"Tokyo, Japan",NaN,Japan,648.0,648.0,http://www.elle.com/culture/career-politics/ne...,https://www.facebook.com/events/37355156635747...,NaN
912,"Toronto, Canada",NaN,Canada,50000.0,60000.0,https://www.thestar.com/news/gta/2017/01/21/ev...,http://globalnews.ca/news/3197235/60000-people...,NaN
913,"Toulouse, France",NaN,France,200.0,300.0,FB group,onsite eyewitness,NaN
914,"Trondheim, Norway",NaN,Norway,260.0,280.0,http://www.adressa.no/nyheter/trondheim/2017/0...,http://www.adressa.no/nyheter/trondheim/2017/0...,NaN
917,"Ubud, Bali",NaN,Indonesia,95.0,100.0,FB,NaN,NaN
918,Uvita,NaN,Costa Rica,18.0,20.0,Eyewitness report; photographic evidence,NaN,NaN
919,"Vancouver, Canada",NaN,Canada,10000.0,15000.0,http://www.cbc.ca/news/canada/british-columbia...,FB,NaN
920,Vicenza,NaN,Italy,25.0,25.0,FB photo confirming headcount,NaN,NaN
921,"Victoria, Canada",NaN,Canada,2000.0,8000.0,http://www.timescolonist.com/news/local/women-...,https://www.facebook.com/isitt/posts/101580065...,http://www.cbc.ca/beta/news/canada/british-col...
922,"Vienna, Austria",NaN,Austria,1300.0,2000.0,FB,http://www.usatoday.com/story/news/2017/01/21/...,NaN
923,Vientiane,NaN,Laos,9.0,9.0,FB photo confirming headcount,NaN,NaN
924,"Vilnius, Lithuania",NaN,Lithuania,150.0,200.0,FB group with photos confirming approximate he...,NaN,NaN
925,Warsaw,NaN,Poland,200.0,200.0,http://www.cbsnews.com/pictures/womens-march-o...,NaN,NaN
926,"Wellington, New Zealand",NaN,New Zealand,700.0,1000.0,https://www.facebook.com/events/215971992188360/,http://www.stuff.co.nz/national/88642615/new-z...,https://www.facebook.com/womensmarchnewzealand...
927,"Whitehorse, Canada",NaN,Canada,200.0,200.0,http://www.cbc.ca/news/canada/north/yellowknif...,NaN,FB
928,"Whitehorse, Yukon, Canada",NaN,Canada,200.0,300.0,http://www.cbc.ca/news/canada/north/yellowknif...,https://twitter.com/dougrutherford/status/8229...,NaN
929,"Winnipeg, Canada",NaN,Canada,1000.0,3000.0,http://www.cbc.ca/beta/news/canada/manitoba/wo...,https://twitter.com/Smile_Beaitiful/status/823...,NaN
930,"Wolfville, NS, Canada",NaN,Canada,300.0,300.0,FB,NaN,NaN
931,Xcalak,NaN,Mexico,18.0,25.0,onsite eyewitness took approximate headcount,NaN,NaN
932,Yangon,NaN,Myanmar (Burma),75.0,85.0,onsite eyewitness w photo w / approximate head...,NaN,NaN
933,"Yellowknife, NWT, Canada",NaN,Canada,100.0,130.0,http://www.cbc.ca/news/canada/north/yellowknif...,NaN,NaN
935,"York, England",NaN,United Kingdom,230.0,300.0,https://www.facebook.com/groups/pantsuitnation...,organizer onsite,https://www.yorkmix.com/news/53-empowering-pic...
936,Surama,NaN,Guyana,1.0,1.0,Eyewitness account,NaN,NaN
937,Zacatitos,NaN,Mexico,25.0,26.0,FB,NaN,NaN
938,Zihuatanejo,NaN,Mexico,40.0,50.0,Eyewitness account; photographic evidence,NaN,NaN

In [14]:
# this is spelled wrong
t_town = df[ df['place']=='Tblisi, Georgia']
df.loc[t_town.index,'place'] = 'Tbilisi, Georgia'

# this is that header type row
df.drop( df[ df.place.str.contains('partial')].index, axis=0, inplace=True )

In [15]:

def fix_us_place_names(place, country):
    if country != "US":
        return place
    res  = place.split(', ')
    if len(res) < 2 or res[-1] not in state_lookup:
        return place
    state = state_lookup[res[-1]]
    res[-1]= state
    res.append('United States')
    return ', '.join(res)

# z = "Abilene, TX"
# # z = "Encinitas, CA (Seacrest)"
# country = "US"
# fix_us_place_names(z, country)

# df['col'] = 'str' + df['col'].astype(str)
# df["new_column"] = df.apply(lambda x: x["A"] * x["B"], axis = 1)
# df.columns = df.columns.append('full_place')

# create a new col with the full place name, for easier geocoding
df = df.assign(full_place=df.place)
df.full_place = df.apply(lambda x: fix_us_place_names(x.place, x.country) , axis=1 )

In [ ]:
# g = geocoder.google("New York, New York, United States")
# g.latlng

In [16]:
cache = {}

In [17]:
# make our new cols
df = df.assign(latlng=df.place)
df = df.assign(lng=df.place)


def get_lat(x): 
    if x in cache:
        return cache[x][0]    
    print(x)
    g = geocoder.google(x)
    if g.latlng:
        cache[x] = g.latlng
        return g.latlng[0]
    else:
        return pd.np.nan

def get_lng(x): 
    if x in cache:
        return cache[x][1]
    print(x)
    g = geocoder.google(x)
    if g.latlng:
        cache[x] = g.latlng        
        return g.latlng[1]
    else:
        return pd.np.nan

df['lat'] = df.full_place.apply(lambda x: get_lat(x) )
df['lng'] = df.full_place.apply(lambda x: get_lng(x) )
df
# this can actually be run multiple times, which will fix missing data

Abilene, Texas, United States
Accident, Maryland, United States
Adak, Alaska, United States
Adrian, Michigan, United States
Ajo, Arizona, United States
Alameda, California, United States
Alamosa, Colorado, United States
Albany, California, United States
Albany, New York, United States
Alexandria, Virginia, United States
Albuquerque, New Mexico, United States
Alliance, Nebraska, United States
Almanor West, California, United States
Alpine, Texas, United States
Amarillo, Texas, United States
Amelia Island, Florida, United States
Anacortes, Washington, United States
Anchorage, Alaska, United States
Angola, Indiana, United States
Ann Arbor, Michigan, United States
Annapolis, Maryland, United States
Annville, Pennsylvania, United States
Appleton, Wisconsin, United States
Arden, Delaware, United States
Asbury Park, New Jersey, United States
Asheville, North Carolina, United States
Ashland, Oregon, United States
Aspen, Colorado, United States
Astoria, Oregon, United States
Athens, Georgia, United States
Athens, Ohio, United States
Atlanta, Georgia, United States
Augusta, Georgia, United States
Augusta, Maine, United States
Austin, Texas, United States
Avalon, California, United States
Bailey, Colorado, United States
Bainbridge Island, Washington, United States
Bakersfield, California, United States
Baltimore, Maryland, United States
Bar Harbor, Maine, United States
Bandon, Oregon, United States
Bayfield, Wisconsin, United States
Beaufort
Beaumont, Texas, United States
Beaver, Pennsylvania, United States
Beaver Island, Michigan, United States
Bellingham, Washington, United States
Bemidji, Minnesota, United States
Bend, Oregon, United States
Bennington, Vermont, United States
Bentonville, Arkansas, United States
Berkeley, California, United States
Bethel, Alaska, United States
Bethlehem, Connecticut, United States
Bethlehem, Pennsylvania, United States
Bettendorf, Iowa, United States
Beverly Hills, California, United States
Binghamton, New York, United States
Birmingham, Alabama, United States
Bishop, California, United States
Bismarck, North Dakota, United States
Black Mountain, North Carolina, United States
Block Island, Rhode Island, United States
Bloomsburg, Pennsylvania, United States
Bluff, Utah, United States
Boise, Idaho, United States
Borrego Springs, California, United States
Boston, Massachusetts, United States
Bozeman, Montana, United States
Breen, Colorado, United States
Bridgewater, Massachusetts, United States
Brighton, Michigan, United States
Brattleboro, Vermont, United States
Brookings, Oregon, United States
Broomfield, Colorado, United States
Brownsville, Texas, United States
Brunswick, Maine, United States
Buffalo, New York, United States
Burbank, California, United States
Burns, Oregon, United States
Burnsville, North Carolina, United States
Cambridge
Canton, New York, United States
Cape Henlopen, Delaware, United States
Carbondale, Colorado, United States
Carbondale, Illinois, United States
Carmel, California, United States
Casper, Wyoming, United States
Cathlamet, Washington, United States
Champaign, Illinois, United States
Charleston, South Carolina, United States
Charleston, West Virginia, United States
Charlotte, North Carolina, United States
Charlottesville, Virginia, United States
Chattanooga, Tennessee, United States
Chelan, Washington, United States
Chesapeake Bay, Maryland, United States
Cheyenne, Wyoming, United States
Chicago, Illinois, United States
Chico, California, United States
Chillicothe, Ohio, United States
Christiansted, St. Croix
Cincinnati, Ohio, United States
Clare, Michigan, United States
Clarion, Pennsylvania, United States
Clemson, South Carolina, United States
Cleveland, Ohio, United States
Cobb, California, United States
Cobleskill, New York, United States
Cody, Wyoming, United States
College Station, Texas, United States
Colorado Springs, Colorado, United States
Columbia, Maryland, United States
Columbia, Missouri, United States
Columbia, South Carolina, United States
Columbus, Ohio, United States
Compton, California, United States
Concord, New Hampshire, United States
Conover, Wisconsin, United States
Cooperstown, New York, United States
Coos Bay, Oregon, United States
Copper Harbor, Michigan, United States
Cordova, Alaska, United States
Corpus Christi, Texas, United States
Cortez, Colorado, United States
Corvallis, Oregon, United States
Craftsbury, Vermont, United States
Crested Butte, Colorado, United States
Crestone, Colorado, United States
Cruz Bay, St. John
Crystal River, Florida, United States
Dallas, Texas, United States
Davis, West Virginia, United States
Dayton, Ohio, United States
Daytona Beach, Florida, United States
Decorah, Iowa, United States
Delaware, Ohio, United States
Delhi, New York, United States
Deming, New Mexico, United States
Denton, Texas, United States
Denver, Colorado, United States
Des Moines, Iowa, United States
Detroit, Michigan, United States
Douglas-Saugatuck, Michigan, United States
Doylestown, Pennsylvania, United States
Driggs, Idaho, United States
Dubuque, Iowa, United States
Duluth, Minnesota, United States
Durango, Colorado, United States
Eagle Pass, Texas, United States
East Haddam, Connecticut, United States
East Liberty, Pennsylvania, United States
East Millinocket, Maine, United States
Eastport, Maine, United States
Eastsound, Washington, United States
Eau Claire, Wisconsin, United States
El Centro, California, United States
El Morro, New Mexico, United States
El Paso, Texas, United States
Elgin, Illinois, United States
Ellensburg, Washington, United States
Ellsworth, Maine, United States
Ely, Minnesota, United States
Encinitas, California, United States
Ephrata, Washington, United States
Erie, Pennsylvania, United States
Esperanza, Puerto Rico, United States
Eugene, Oregon, United States
Eureka, California, United States
Evanston, Wyoming, United States
Fairbanks, Alaska, United States
Fairfax, California, United States
Fairfield, Iowa, United States
Fairmont, West Virginia, United States
Falmouth, Massachusetts, United States
Fargo, North Dakota, United States
Fayetteville, Arkansas, United States
Fernandina Beach, Florida, United States
Flagstaff, Arizona, United States
Florence, Oregon, United States
Floyd, Virginia, United States
Forks, Washington, United States
Fort Atkinson, Wisconsin, United States
Fort Bragg, California, United States
Fort Collins, Colorado, United States
Fort Wayne, Indiana, United States
Fort Worth, Texas, United States
Francestown, New Hampshire, United States
Frederick, Maryland, United States
Fredonia, New York, United States
Fresno, California, United States
Friday Harbor, Washington, United States
Gainesville, Florida, United States
Galesburg, Illinois, United States
Gila, New Mexico, United States
Glens Falls, New York, United States
Glenwood Springs, Colorado, United States
Gloucester, New Jersey, United States
Gouldsboro, Maine, United States
Grand Forks, North Dakota, United States
Grand Junction, Colorado, United States
Grand Marais, Minnesota, United States
Grand Rapids, Michigan, United States
Grants Pass, Oregon, United States
Green Bay, Wisconsin, United States
Green Valley, Arizona, United States
Greenfield, Massachusetts, United States
Greensboro, North Carolina, United States
Greensburg, Indiana, United States
Greenville, South Carolina, United States
Greenville, North Carolina, United States
Gross Pointe, Michigan, United States
Gualala, California, United States
Guilford, Connecticut, United States
Gulfport, Mississippi, United States
Gustavus, Alaska, United States
Hagatna, Guam, United States
Haines, Alaska, United States
Halfway, Oregon, United States
Hana, Hawaii, United States
Harrisburg, Pennsylvania, United States
Harrisville, Michigan, United States
Hartford, Connecticut, United States
Harwich, Massachusetts, United States
Helena, Arkansas, United States
Helena, Montana, United States
Hemet, California, United States
Hilldale, Utah, United States
Hillsborough, North Carolina, United States
Hilo, Hawaii, United States
Holden Village, Washington, United States
Homer, Alaska, United States
Honolulu (Oahu) HI
Hood River, Oregon, United States
Hospital Ward
Houghton, Michigan, United States
Houlton, Maine, United States
Houston, Texas, United States
Howard County, Maryland, United States
Hudson, New York, United States
Huntsville, Alabama, United States
Huron, South Dakota, United States
Idaho Falls, Idaho, United States
Indiana, Pennsylvania, United States
Indianapolis, Indiana, United States
Inverness, California, United States
Iowa City, Iowa, United States
Isla Vista, California, United States
Issaquah, Washington, United States
Ithaca, New York, United States
Jackson, New Hampshire, United States
Jackson, Mississippi, United States
Jackson Hole, Wyoming, United States
Jacksonville, Florida, United States
Jefferson City, Missouri, United States
Jerome, Arizona, United States
Jonesborough, Tennessee, United States
Joseph, Oregon, United States
June Lake, California, United States
Juneau, Alaska, United States
Kahului, Maui, Hawaii, United States
Kalamazoo, Michigan, United States
Kanab, Utah, United States
Kansas City, Missouri, United States
Kaunakakai (Molokai)
Kawaihae, Hawaii, United States
Keene, New Hampshire, United States
Kennebunk, Maine, United States
Kent, Connecticut, United States
Kent, Ohio, United States
Ketchikan, Alaska, United States
Ketchum, Idaho, United States
Key West, Florida, United States
Killington, Vermont, United States
King's Beach, California, United States
Kingston, Washington, United States
Klamath Falls, Oregon
Knoxville, Tennessee, United States
Kodiak, Alaska, United States
Kona, Hawaii, United States
Kotzebue, Alaska, United States
La Crosse, Wisconsin, United States
La Grande, Oregon, United States
Lafayette, Colorado, United States
Lafayette, Indiana, United States
Laguna Beach, California, United States
Lake Havasu City, Arizona, United States
Lakeside, Ohio, United States
Lakeville, Connecticut, United States
Lamoni, Iowa, United States
Lancaster, New Hampshire, United States
Lancaster, Pennsylvania, United States
Lander, Wyoming, United States
Langley, Washington, United States
Lansdale, Pennsylvania, United States
Lansing, Michigan, United States
Las Cruces, New Mexico, United States
Las Vegas, Nevada, United States
Las Vegas, New Mexico, United States
Leonia, New Jersey, United States
Lexington, Kentucky, United States
Lewes, Delaware, United States
Lewis, New York, United States
Lewisburg, Pennsylvania, United States
Lihue (Kauai) HI
Lilly, Pennsylvania, United States
Lincoln, Nebraska, United States
Little Rock, Arkansas, United States
Logan, Utah, United States
Lompoc, California, United States
Longview, Washington, United States
Longville, Minnesota, United States
Los Angeles, California, United States
Louisville, Kentucky, United States
Loup City, Nebraska, United States
Lovell, Maine, United States
Lovettsville
Lubbock, Texas, United States
Lubec, Maine, United States
Lyons, Colorado, United States
Mt. Shasta, California, United States
Mt. Laurel, New Jersey, United States
Madison, Wisconsin, United States
Manchester, Vermont, United States
Mankato, Minnesota, United States
Marfa, Texas, United States
Martha's Vineyard, Massachusetts, United States
Marquette, Michigan, United States
Marshall, Minnesota, United States
Maryville, Illinois, United States
McCall, Idaho, United States
McMinnville, Oregon, United States
Melbourne/Brevard County, Florida, United States
Memphis, Tennessee, United States
Menomonie, Wisconsin, United States
Mentone, Alabama, United States
Miami, Florida, United States
Midland, Michigan, United States
Midland, Texas, United States
Midway Atoll
Miles City, Montana, United States
Milford, Connecticut, United States
Milhelm, Pennsylvania, United States
Milwaukee, Wisconsin, United States
Minocqua, Wisconsin, United States
Minturn, Colorado, United States
Missoula, Montana, United States
Mitchell, Indiana, United States
Moab, Utah, United States
Mobile, Alabama, United States
Modesto, California, United States
Mooresville, North Carolina, United States
Monhegan Island
Montpelier, Vermont, United States
Mora, New Mexico, United States
Morganton, North Carolina, United States
Morris, Minnesota, United States
Moscow, Idaho, United States
Mount Vernon, Ohio, United States
Mount Vernon, Washington, United States
Murray, Kentucky, United States
Nacogdoches, Texas, United States
Nantucket, Massachusetts, United States
Napa, California, United States
Naples, Florida, United States
Nashville, Tennessee, United States
Nebraska City, Nebraska, United States
Nederland, Colorado, United States
Nevada City, California, United States
New Bern, North Carolina, United States
New Haven, Connecticut, United States
New Orleans, Louisiana, United States
New Smyrna Beach, Florida, United States
New York, New York, United States
Newark, Delaware, United States
Newark, New Jersey, United States
Newport, Oregon, United States
Nome, Alaska, United States
Norfolk, Virginia, United States
Northampton, Massachusetts, United States
Oak Ridge, Tennessee, United States
Oakhurst, California, United States
Oakland, California, United States
Ocala, Florida, United States
Ocean City, Maryland, United States
Ocean Shores, Washington, United States
Ocracoke, North Carolina, United States
Ogden, Utah, United States
Oklahoma City, Oklahoma, United States
Old Saybrook, Connecticut, United States
Olympia, Washington, United States
Omaha, Nebraska, United States
Oneonta, New York, United States
Onley, Virginia, United States
Ontario, California, United States
Orcas Island, Washington, United States
Orford, New Hampshire, United States
Orlando, Florida, United States
Owensboro, Kentucky, United States
Oxford, Mississippi, United States
Pacifica, California, United States
Palm Desert, California, United States
Palm Springs, California, United States
Palmdale, California, United States
Palmer, Alaska, United States
Paradox, New York, United States
Park City, Utah, United States
Panama City, Florida, United States
Paoli, Indiana, United States
Paonia, Colorado, United States
Pasadena, California, United States
Pence, Wisconsin, United States
Pendelton, Oregon, United States
Pensacola, Florida, United States
Pentwater, Michigan, United States
Peoria, Illinois, United States
Pequannock Township, New Jersey, United States
Peterborough, New Hampshire, United States
Petersburg, Alaska, United States
Philadelphia, Pennsylvania, United States
Phoenix, Arizona, United States
Pierre, South Dakota, United States
Pikeville, Kentucky, United States
Pinedale, Wyoming, United States
Pittsburgh, Pennsylvania, United States
Pittsfield, Massachusetts, United States
Plattsburgh, New York, United States
Plymouth, Wisconsin, United States
Pocatello, Idaho, United States
Point Reyes Station, California, United States
Port Angeles, Washington, United States
Port Jefferson, New York, United States
Port Jervis, New York, United States
Port Orford, Oregon, United States
Port Townsend, Washington, United States
Portales, New Mexico, United States
Portland, Maine, United States
Portland, Oregon, United States
Portland, OR area
Portsmouth, New Hampshire, United States
Potsdam, New York, United States
Poughkeepsie, New York, United States
Prescott, Arizona, United States
Providence, Rhode Island, United States
Provincetown, Massachusetts, United States
Quincy, California, United States
Raleigh, North Carolina, United States
Rapid City, South Dakota, United States
Reading, Pennsylvania, United States
Red Bank, New Jersey, United States
Redding, California, United States
Redondo Beach, California, United States
Redwood City, California, United States
Reno, Nevada, United States
Richland, Washington, United States
Richmond, Virginia, United States
Ridgecrest, California, United States
Ridgway, Colorado, United States
Riegelsville, Pennsylvania, United States
Riverside, California, United States
Roanoke, Virginia, United States
Rochester, Minnesota, United States
Rochester, New York, United States
Rock Springs, Wyoming, United States
Rockford, Illinois, United States
Romney, West Virginia, United States
Roswell, New Mexico, United States
Roxbury, Connecticut, United States
St. Augustine, Florida, United States
St. Cloud, Minnesota, United States
St. Croix, Virgin Islands, United States
St. George, Utah, United States
St. John, Virgin Islands, United States
St. Johnsbury, Vermont, United States
St. Joseph, Michigan, United States
St. Louis, Missouri, United States
St. Mary's City, Maryland, United States
St. Mary of the Woods, Indiana, United States
St. Paul/Minneapolis, Minnesota, United States
St. Petersburg, Florida, United States
Sacramento, California, United States
Sag Harbor, New York, United States
Salem, Oregon, United States
Salem, Wisconsin, United States
Salida, Colorado, United States
Salinas, California, United States
Salisbury, Connecticut, United States
Salt Lake City, UT (1/20)
Salt Lake City, UT (1/23)
San Anselmo, California, United States
San Antonio, Texas, United States
San Bernardino, California, United States
San Clemente, California, United States
San Diego, California, United States
San Francisco, California, United States
San Jose, California, United States
San Juan, Puerto Rico, United States
San Luis Obispo, California, United States
San Marcos, California, United States
San Rafael, California, United States
Sanford, Maine, United States
Sandpoint, Idaho, United States
Santa Ana, California, United States
Santa Barbara, California, United States
Santa Cruz, California, United States
Santa Fe, New Mexico, United States
Santa Rosa, California, United States
Sarasota, Florida, United States
Saugatuck, Michigan, United States
Sault Ste Marie, Michigan, United States
Sausalito, California, United States
Savannah, Georgia, United States
Saxaphaw, North Carolina, United States
Seaside, California, United States
Seattle, Washington, United States
Sedona, Arizona, United States
Seldovia, Alaska, United States
Selingsgrove, Pennsylvania, United States
Seneca Falls, New York, United States
Sequim, Washington, United States
Seward, Alaska, United States
Sharon, Pennsylvania, United States
Sheboygan, Wisconsin, United States
Show Low, Arizona, United States
Shreveport/Bossier, Louisiana, United States
Sicklerville, New Jersey, United States
Silver City, New Mexico, United States
Silverton, Colorado, United States
Sioux Falls, South Dakota, United States
Sitka, Alaska, United States
Skagway, Alaska, United States
Skykomish, Washington, United States
Soldotna, Alaska, United States
Sonoma, California, United States
South Bend, Indiana, United States
South Lake Tahoe, CA / Stateline, Nevada, United States
South Orange, New Jersey, United States
Southborough, Massachusetts, United States
Spokane, Washington, United States
Springfield, Illinois, United States
Springfield, Massachusetts, United States
Springfield, Missouri, United States
Springfield, Ohio, United States
Stamford, Connecticut, United States
Stanley, Idaho, United States
State College, Pennsylvania, United States
Statesboro, Georgia, United States
Staunton, Virginia, United States
Steamboat Springs, Colorado, United States
Syracuse, New York, United States
Talkeetna, Alaska, United States
Tallahassee, Florida, United States
Taos, New Mexico, United States
Tecumseh, Michigan, United States
Telluride, Colorado, United States
Tenants Harbor, Maine, United States
The Dalles, Oregon, United States
Tillamook, Oregon, United States
Tisbury, Massachusetts, United States
Toledo, Ohio, United States
Topeka, Kansas, United States
Traverse City, Michigan, United States
Trenton, New Jersey, United States
Troy, Ohio, United States
Troy, Pennsylvania, United States
Truckee, California, United States
Truth or Consequences, New Mexico, United States
Tucson, Arizona, United States
Tulsa, Oklahoma, United States
Tupper Lake, New York, United States
Tuscarora, Nevada, United States
Twisp, Washington, United States

,place,state,country,estimate_low,estimate_high,source,source2,source3,full_place,latlng,lng,lat
2,"Abilene, TX",TX,US,200.0,200.0,http://www.reporternews.com/story/news/local/2...,NaN,NaN,"Abilene, Texas, United States","Abilene, TX",-99.733144,32.448736
3,"Accident, MD",MD,US,54.0,54.0,http://www.riverfronttimes.com/newsblog/2017/0...,NaN,Twitter; on-site witness,"Accident, Maryland, United States","Accident, MD",-79.319759,39.628696
4,"Adak, AK",AK,US,10.0,10.0,adn.com,NaN,NaN,"Adak, Alaska, United States","Adak, AK",-176.658056,51.880000
5,"Adrian, MI",MI,US,150.0,150.0,http://www.lenconnect.com/news/20170122/marche...,http://www.lenconnect.com/news/20170122/marche...,NaN,"Adrian, Michigan, United States","Adrian, MI",-84.037166,41.897547
6,"Ajo, AZ",AZ,US,250.0,250.0,https://www.facebook.com/plugins/post.php?href...,NaN,NaN,"Ajo, Arizona, United States","Ajo, AZ",-112.860710,32.371725
7,"Alameda, CA",CA,US,8.0,8.0,FB,NaN,NaN,"Alameda, California, United States","Alameda, CA",-122.241636,37.765206
8,"Alamosa, CO",CO,US,350.0,350.0,https://twitter.com/zepol/status/8232349739352...,NaN,NaN,"Alamosa, Colorado, United States","Alamosa, CO",-105.870021,37.469449
9,"Albany, CA",CA,US,500.0,500.0,https://twitter.com/ben_silverman/status/82303...,Albany PD (reported via google form),NaN,"Albany, California, United States","Albany, CA",-122.297747,37.886870
10,"Albany, NY",NY,US,7000.0,9000.0,http://www.timesunion.com/local/article/Albany...,FB,NaN,"Albany, New York, United States","Albany, NY",-73.756232,42.652579
11,"Alexandria, VA",VA,US,17.0,17.0,https://twitter.com/TinaPStacy/status/82322604...,NaN,NaN,"Alexandria, Virginia, United States","Alexandria, VA",-77.046921,38.804836
12,"Albuquerque, NM",NM,US,3000.0,15000.0,http://www.koat.com/article/thousands-fill-civ...,https://twitter.com/PatDavisNM/status/82293149...,https://twitter.com/AthertonKD/status/82321516...,"Albuquerque, New Mexico, United States","Albuquerque, NM",-106.605553,35.085334
13,"Alliance, NE",NE,US,100.0,150.0,eyewtiness onsite w/ headcount,NaN,NaN,"Alliance, Nebraska, United States","Alliance, NE",-102.870201,42.093024
14,"Almanor West, CA",CA,US,4.0,4.0,eyewitness; picture,NaN,NaN,"Almanor West, California, United States","Almanor West, CA",-121.202534,40.234637
15,"Alpine, TX",TX,US,96.0,96.0,https://twitter.com/sarahmvasquez/status/82318...,NaN,NaN,"Alpine, Texas, United States","Alpine, TX",-103.661012,30.358492
17,"Amarillo, TX",TX,US,600.0,700.0,https://www.texastribune.org/2017/01/21/thousa...,http://www.myhighplains.com/news/hundreds-gath...,NaN,"Amarillo, Texas, United States","Amarillo, TX",-101.831297,35.221997
18,"Amelia Island, FL",FL,US,700.0,1367.0,http://www.firstcoastnews.com/news/womens-marc...,https://twitter.com/wideofthepost/status/82307...,http://www.ncflindependent.com/2017/01/21/stan...,"Amelia Island, Florida, United States","Amelia Island, FL",-81.460856,30.626570
19,"Anacortes, WA",WA,US,1200.0,1200.0,http://www.goskagit.com/skagit/hundreds-partic...,NaN,NaN,"Anacortes, Washington, United States","Anacortes, WA",-122.612672,48.512604
20,"Anchorage, AK",AK,US,2000.0,4000.0,https://www.adn.com/alaska-news/2017/01/21/lar...,https://twitter.com/julia_omalley/status/82290...,http://www.ktuu.com/content/news/Thousands-of-...,"Anchorage, Alaska, United States","Anchorage, AK",-149.900278,61.218056
21,"Angola, IN",IN,US,24.0,60.0,http://wane.com/2017/01/21/womens-marches-in-a...,http://kpcnews.com/news/latest/heraldrepublican/,NaN,"Angola, Indiana, United States","Angola, IN",-84.999409,41.634773
22,"Ann Arbor, MI",MI,US,11000.0,11000.0,http://www.mlive.com/news/ann-arbor/index.ssf/...,NaN,NaN,"Ann Arbor, Michigan, United States","Ann Arbor, MI",-83.743038,42.280826
23,"Annapolis, MD",MD,US,1600.0,1600.0,http://www.capitalgazette.com/news/annapolis/p...,NaN,NaN,"Annapolis, Maryland, United States","Annapolis, MD",-76.492183,38.978445
24,"Annville, PA",PA,US,30.0,30.0,http://www.ldnews.com/videos/news/2017/01/21/w...,onsite eyewitness via google form,NaN,"Annville, Pennsylvania, United States","Annville, PA",-76.515244,40.329536
25,"Appleton, WI",WI,US,3.0,3.0,http://www.sheboyganpress.com/story/news/local...,http://www.postcrescent.com/story/news/local/2...,NaN,"Appleton, Wisconsin, United States","Appleton, WI",-88.415385,44.261931
26,"Arden, DE",DE,US,40.0,50.0,onsite eyewitness via google form; did headcount,FB,NaN,"Arden, Delaware, United States","Arden, DE",-75.486587,39.809279
28,"Asbury Park, NJ",NJ,US,6000.0,6000.0,https://twitter.com/JuliaJHobbs/status/8229551...,NaN,NaN,"Asbury Park, New Jersey, United States","Asbury Park, NJ",-74.012082,40.220391
29,"Asheville, NC",NC,US,7000.0,10000.0,http://wlos.com/news/local/photo-gallery-the-w...,http://wlos.com/news/local/photo-gallery-the-w...,NaN,"Asheville, North Carolina, United States","Asheville, NC",-82.551487,35.595058
30,"Ashland, OR",OR,US,8000.0,15000.0,http://www.oregonlive.com/trending/2017/01/wom...,NaN,NaN,"Ashland, Oregon, United States","Ashland, OR",-122.709477,42.194576
31,"Aspen, CO",CO,US,200.0,1000.0,http://www.aspendailynews.com/section/home/174009,https://twitter.com/SarahGoTrillIum/status/823...,NaN,"Aspen, Colorado, United States","Aspen, CO",-106.817539,39.191098
32,"Astoria, OR",OR,US,1300.0,1600.0,http://www.dailyastorian.com/Local_News/201701...,http://www.kast1370.com/index.php?option=com_c...,NaN,"Astoria, Oregon, United States","Astoria, OR",-123.831253,46.187884
33,"Athens, GA",GA,US,700.0,5000.0,http://onlineathens.com/slideshow/2017-01-21/p...,FB,NaN,"Athens, Georgia, United States","Athens, GA",-83.357567,33.951935
...,...,...,...,...,...,...,...,...,...,...,...,...
906,"Taipa, Macau",NaN,Macau,100.0,100.0,http://aamacau.com/2017/01/22/%E9%9F%BF%E6%87%...,http://www.macaupostdaily.com/article2236.html,NaN,"Taipa, Macau","Taipa, Macau",113.563922,22.159685
907,"Tbilisi, Georgia",NaN,Georgia,300.0,300.0,http://dfwatch.net/tbilisi-joins-global-womens...,NaN,NaN,"Tbilisi, Georgia","Tbilisi, Georgia",44.827096,41.715138
908,"Tel Aviv, Israel",NaN,Israel,300.0,500.0,on site report with crowd-counting via flyer d...,https://twitter.com/melanielidman/status/82287...,NaN,"Tel Aviv, Israel","Tel Aviv, Israel",34.781768,32.085300
909,Thessoloniki,NaN,Greece,36.0,36.0,http://www.centralctcommunications.com/newbrit...,NaN,NaN,Thessoloniki,Thessoloniki,22.944419,40.640063
910,Todos Santos,NaN,Mexico,200.0,300.0,onsite eyewitness,NaN,NaN,Todos Santos,Todos Santos,-110.226510,23.446362
911,"Tokyo, Japan",NaN,Japan,648.0,648.0,http://www.elle.com/culture/career-politics/ne...,https://www.facebook.com/events/37355156635747...,NaN,"Tokyo, Japan","Tokyo, Japan",139.691706,35.689487
912,"Toronto, Canada",NaN,Canada,50000.0,60000.0,https://www.thestar.com/news/gta/2017/01/21/ev...,http://globalnews.ca/news/3197235/60000-people...,NaN,"Toronto, Canada","Toronto, Canada",-79.383184,43.653226
913,"Toulouse, France",NaN,France,200.0,300.0,FB group,onsite eyewitness,NaN,"Toulouse, France","Toulouse, France",1.444209,43.604652
914,"Trondheim, Norway",NaN,Norway,260.0,280.0,http://www.adressa.no/nyheter/trondheim/2017/0...,http://www.adressa.no/nyheter/trondheim/2017/0...,NaN,"Trondheim, Norway","Trondheim, Norway",10.395053,63.430515
917,"Ubud, Bali",NaN,Indonesia,95.0,100.0,FB,NaN,NaN,"Ubud, Bali","Ubud, Bali",115.264379,-8.507808
918,Uvita,NaN,Costa Rica,18.0,20.0,Eyewitness report; photographic evidence,NaN,NaN,Uvita,Uvita,-83.735851,9.163501
919,"Vancouver, Canada",NaN,Canada,10000.0,15000.0,http://www.cbc.ca/news/canada/british-columbia...,FB,NaN,"Vancouver, Canada","Vancouver, Canada",-123.120738,49.282729
920,Vicenza,NaN,Italy,25.0,25.0,FB photo confirming headcount,NaN,NaN,Vicenza,Vicenza,11.535421,45.545479
921,"Victoria, Canada",NaN,Canada,2000.0,8000.0,http://www.timescolonist.com/news/local/women-...,https://www.facebook.com/isitt/posts/101580065...,http://www.cbc.ca/beta/news/canada/british-col...,"Victoria, Canada","Victoria, Canada",-123.365644,48.428421
922,"Vienna, Austria",NaN,Austria,1300.0,2000.0,FB,http://www.usatoday.com/story/news/2017/01/21/...,NaN,"Vienna, Austria","Vienna, Austria",16.373819,48.208174
923,Vientiane,NaN,Laos,9.0,9.0,FB photo confirming headcount,NaN,NaN,Vientiane,Vientiane,102.633104,17.975706
924,"Vilnius, Lithuania",NaN,Lithuania,150.0,200.0,FB group with photos confirming approximate he...,NaN,NaN,"Vilnius, Lithuania","Vilnius, Lithuania",25.279651,54.687156
925,Warsaw,NaN,Poland,200.0,200.0,http://www.cbsnews.com/pictures/womens-march-o...,NaN,NaN,Warsaw,Warsaw,21.012229,52.229676
926,"Wellington, New Zealand",NaN,New Zealand,700.0,1000.0,https://www.facebook.com/events/215971992188360/,http://www.stuff.co.nz/national/88642615/new-z...,https://www.facebook.com/womensmarchnewzealand...,"Wellington, New Zealand","Wellington, New Zealand",174.776236,-41.286460
927,"Whitehorse, Canada",NaN,Canada,200.0,200.0,http://www.cbc.ca/news/canada/north/yellowknif...,NaN,FB,"Whitehorse, Canada","Whitehorse, Canada",-135.056845,60.721187
928,"Whitehorse, Yukon, Canada",NaN,Canada,200.0,300.0,http://www.cbc.ca/news/canada/north/yellowknif...,https://twitter.com/dougrutherford/status/8229...,NaN,"Whitehorse, Yukon, Canada","Whitehorse, Yukon, Canada",-135.056845,60.721187
929,"Winnipeg, Canada",NaN,Canada,1000.0,3000.0,http://www.cbc.ca/beta/news/canada/manitoba/wo...,https://twitter.com/Smile_Beaitiful/status/823...,NaN,"Winnipeg, Canada","Winnipeg, Canada",-97.138374,49.895136
930,"Wolfville, NS, Canada",NaN,Canada,300.0,300.0,FB,NaN,NaN,"Wolfville, NS, Canada","Wolfville, NS, Canada",-64.359835,45.091760
931,Xcalak,NaN,Mexico,18.0,25.0,onsite eyewitness took approximate headcount,NaN,NaN,Xcalak,Xcalak,-87.835833,18.271389
932,Yangon,NaN,Myanmar (Burma),75.0,85.0,onsite eyewitness w photo w / approximate head...,NaN,NaN,Yangon,Yangon,96.195132,16.866069
933,"Yellowknife, NWT, Canada",NaN,Canada,100.0,130.0,http://www.cbc.ca/news/canada/north/yellowknif...,NaN,NaN,"Yellowknife, NWT, Canada","Yellowknife, NWT, Canada",-114.371789,62.453972
935,"York, England",NaN,United Kingdom,230.0,300.0,https://www.facebook.com/groups/pantsuitnation...,organizer onsite,https://www.yorkmix.com/news/53-empowering-pic...,"York, England","York, England",-1.087298,53.959965
936,Surama,NaN,Guyana,1.0,1.0,Eyewitness account,NaN,NaN,Surama,Surama,59.506638,22.565276
937,Zacatitos,NaN,Mexico,25.0,26.0,FB,NaN,NaN,Zacatitos,Zacatitos,-113.500002,27.999994
938,Zihuatanejo,NaN,Mexico,40.0,50.0,Eyewitness account; photographic evidence,NaN,NaN,Zihuatanejo,Zihuatanejo,-101.551695,17.641669

In [19]:
df.dropna(axis=0, how='any', subset=['lat', 'lng'], inplace=True)
# df.drop(["latlng"], axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 858 entries, 2 to 938
Data columns (total 12 columns):
place            858 non-null object
state            624 non-null object
country          858 non-null object
estimate_low     858 non-null float64
estimate_high    858 non-null float64
source           858 non-null object
source2          353 non-null object
source3          74 non-null object
full_place       858 non-null object
latlng           858 non-null object
lng              858 non-null float64
lat              858 non-null float64
dtypes: float64(4), object(8)
memory usage: 87.1+ KB

In [20]:
df.to_json("marches.json", orient="records")

In [265]:

# df.info()
# cache['Madison, Wisconsin, United States']
# df [ df['full_place']== "Madison, Wisconsin, United States" ]
# df[df.lat == False]
# df[df.lng == False]