In [163]:
import pandas as pd
import numpy as np
import json

In [160]:
# need this!
# !pip install geocoder

Collecting geocoder
  Downloading geocoder-1.20.0-py2.py3-none-any.whl (69kB)
    100% |████████████████████████████████| 71kB 524kB/s ta 0:00:01
Collecting click (from geocoder)
  Downloading click-6.7-py2.py3-none-any.whl (71kB)
    100% |████████████████████████████████| 71kB 503kB/s ta 0:00:011
Requirement already satisfied (use --upgrade to upgrade): requests in /opt/conda/lib/python3.5/site-packages (from geocoder)
Requirement already satisfied (use --upgrade to upgrade): six in /opt/conda/lib/python3.5/site-packages (from geocoder)
Collecting ratelim (from geocoder)
  Downloading ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied (use --upgrade to upgrade): decorator in /opt/conda/lib/python3.5/site-packages (from ratelim->geocoder)
Installing collected packages: click, ratelim, geocoder
Successfully installed click-6.7 geocoder-1.20.0 ratelim-0.1.6
You are using pip version 8.1.2, however version 9.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [161]:
import geocoder

In [164]:
df = pd.read_csv("Crowd Estimates, 1.21.2017 - Sheet1.csv", skiprows=6,  header=None, thousands=",")
col_names = ["place", "state", "country", "estimate_low", "estimate_high", "est3", "not121", "source", "source2", "source3"]
df.columns = col_names
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 663 entries, 0 to 662
Data columns (total 10 columns):
place            663 non-null object
state            544 non-null object
country          661 non-null object
estimate_low     596 non-null float64
estimate_high    597 non-null float64
est3             5 non-null float64
not121           5 non-null float64
source           608 non-null object
source2          173 non-null object
source3          21 non-null object
dtypes: float64(4), object(6)
memory usage: 51.9+ KB

In [165]:
# a few added here to fix data in spreadsheet
state_lookup = { 'AK': 'Alaska', 'AL': 'Alabama', 'AR': 'Arkansas', 'AS': 'American Samoa', 'AZ': 'Arizona', 'CA': 'California', 'CO': 'Colorado', 'CT': 'Connecticut', 'DC': 'District of Columbia', 'DE': 'Delaware', 'FL': 'Florida', 'GA': 'Georgia', 'GU': 'Guam', 'HI': 'Hawaii', 'IA': 'Iowa', 'ID': 'Idaho', 'IL': 'Illinois', 'IN': 'Indiana', 'KS': 'Kansas', 'KY': 'Kentucky', 'LA': 'Louisiana', 'MA': 'Massachusetts', 'MD': 'Maryland', 'ME': 'Maine', 'MI': 'Michigan', 'MN': 'Minnesota', 'MO': 'Missouri', 'MP': 'Northern Mariana Islands', 'MS': 'Mississippi', 'MT': 'Montana', 'NA': 'National', 'NC': 'North Carolina', 'ND': 'North Dakota', 'NE': 'Nebraska', 'NH': 'New Hampshire', 'NJ': 'New Jersey', 'NM': 'New Mexico', 'NV': 'Nevada', 'NY': 'New York', 'OH': 'Ohio', 'OK': 'Oklahoma', 'OR': 'Oregon', 'PA': 'Pennsylvania', 'PR': 'Puerto Rico', 'RI': 'Rhode Island', 'SC': 'South Carolina', 'SD': 'South Dakota', 'TN': 'Tennessee', 'TX': 'Texas', 'UT': 'Utah', 'VA': 'Virginia', 'VI': 'Virgin Islands', 'VT': 'Vermont', 'WA': 'Washington', 'WI': 'Wisconsin', 'WV': 'West Virginia', 'WY': 'Wyoming', 'CA (Seacrest)':'California', 'Guam': 'Guam'}

In [166]:
# drop what we don't care about
df.drop(["est3", "not121"], axis=1, inplace=True)
# drop rows that lack a max estimate
df.dropna(axis=0, how='any', subset=['estimate_high'], inplace=True)
df

,place,state,country,estimate_low,estimate_high,source,source2,source3
0,"Abilene, TX",TX,US,200.0,200.0,http://www.reporternews.com/story/news/local/2...,NaN,NaN
1,"Accident, MD",MD,US,54.0,54.0,Twitter; on-site witness,NaN,NaN
2,"Adak, AK",AK,US,10.0,10.0,adn.com,NaN,NaN
3,"Adrian, MI",MI,US,130.0,150.0,https://www.facebook.com/events/847360115406578/,http://www.lenconnect.com/news/20170122/marche...,NaN
4,"Ajo, AZ",AZ,US,250.0,250.0,https://www.facebook.com/plugins/post.php?href...,NaN,NaN
5,"Alameda, CA",CA,US,8.0,8.0,FB,NaN,NaN
6,"Alamosa, CO",CO,US,350.0,350.0,https://twitter.com/zepol/status/8232349739352...,NaN,NaN
7,"Albany, CA",CA,US,500.0,500.0,https://twitter.com/ben_silverman/status/82303...,Albany PD (reported via google form),NaN
8,"Albany, NY",NY,US,7000.0,9000.0,http://www.timesunion.com/local/article/Albany...,FB,NaN
9,"Alexandria, VA",VA,US,17.0,17.0,https://twitter.com/TinaPStacy/status/82322604...,NaN,NaN
10,"Albuquerque, NM",NM,US,3000.0,20000.0,http://www.koat.com/article/thousands-fill-civ...,https://twitter.com/PatDavisNM/status/82293149...,https://twitter.com/AthertonKD/status/82321516...
11,"Almanor West, CA",CA,US,4.0,4.0,eyewitness; picture,NaN,NaN
12,"Alpine, TX",TX,US,96.0,96.0,https://twitter.com/sarahmvasquez/status/82318...,NaN,NaN
13,"Amarillo, TX",TX,US,600.0,600.0,https://www.texastribune.org/2017/01/21/thousa...,NaN,NaN
14,"Amelia Island, FL",FL,US,700.0,1300.0,http://www.firstcoastnews.com/news/womens-marc...,https://twitter.com/wideofthepost/status/82307...,NaN
16,"Anchorage, AK",AK,US,2000.0,3000.0,https://www.adn.com/alaska-news/2017/01/21/lar...,https://twitter.com/julia_omalley/status/82290...,NaN
17,"Ann Arbor, MI",MI,US,11000.0,11000.0,http://www.mlive.com/news/ann-arbor/index.ssf/...,NaN,NaN
18,"Annapolis, MD",MD,US,1600.0,1600.0,http://www.capitalgazette.com/news/annapolis/p...,NaN,NaN
20,"Asbury Park, NJ",NJ,US,6000.0,6000.0,https://twitter.com/JuliaJHobbs/status/8229551...,NaN,NaN
21,"Asheville, NC",NC,US,7000.0,10000.0,http://wlos.com/news/local/photo-gallery-the-w...,http://wlos.com/news/local/photo-gallery-the-w...,NaN
22,"Ashland, OR",OR,US,6000.0,8000.0,http://www.mailtribune.com/news/20170121/voice...,http://ijpr.org/post/southern-oregon-womens-ma...,NaN
23,"Aspen, CO",CO,US,1000.0,1000.0,https://twitter.com/SarahGoTrillIum/status/823...,NaN,NaN
24,"Astoria, OR",OR,US,100.0,1000.0,http://www.dailyastorian.com/Local_News/201701...,NaN,NaN
25,"Athens, GA",GA,US,700.0,5000.0,http://onlineathens.com/slideshow/2017-01-21/p...,FB,NaN
26,"Atlanta, GA",GA,US,60000.0,63000.0,http://www.ajc.com/news/state--regional-govt--...,http://www.nbcnews.com/storyline/inauguration-...,NaN
27,"Augusta, GA",GA,US,600.0,600.0,http://chronicle.augusta.com/news/2017-01-21/h...,NaN,NaN
28,"Augusta, ME",ME,US,10000.0,10000.0,http://bangordailynews.com/2017/01/21/news/sta...,NaN,NaN
29,"Austin, TX",TX,US,30000.0,50000.0,http://kut.org/post/tens-thousands-participate...,http://www.statesman.com/news/local/police-000...,NaN
30,"Avalon, CA",CA,US,44.0,44.0,https://twitter.com/lisakate111/status/8230183...,NaN,NaN
31,"Bainbridge Island, WA",WA,US,200.0,350.0,onsite eyewitness; headcount,onsite eyewitness; headcount,NaN
...,...,...,...,...,...,...,...,...
624,"Whitehorse, Canada",NaN,Canada,200.0,200.0,FB,NaN,NaN
625,"Munich, Germany",NaN,Germany,600.0,800.0,https://www.facebook.com/113387388277/photos/?...,https://twitter.com/marionanddaniel/status/823...,http://www.danielkempfseifried.de/we-the-peopl...
626,"The Hague, The Netherlands",NaN,Netherlands,2000.0,2000.0,FB,NaN,NaN
627,Singapore,NaN,Singapore,50.0,50.0,Eyewitness account,NaN,NaN
628,"Bangor, Wales, UK",NaN,UK,400.0,400.0,"FB, Twitter",NaN,NaN
629,"Mwanza, Tanzania",NaN,Tanzania,19.0,19.0,https://twitter.com/LeishLin/status/8230581508...,NaN,NaN
630,"Nanaimo, Canada",NaN,Canada,1000.0,1000.0,http://nanaimonewsnow.com/article/522757/women...,NaN,NaN
632,"Saskatoon, Canada",NaN,Canada,800.0,1000.0,http://thestarphoenix.com/storyline/hundreds-m...,https://twitter.com/m_cvb/status/8230754311967...,NaN
633,"North West River, Labrador, Canada",NaN,Canada,20.0,20.0,https://twitter.com/amybeatrice/status/8229007...,NaN,NaN
634,"Whitehorse, Yukon, Canada",NaN,Canada,100.0,300.0,http://www.cbc.ca/news/canada/north/yellowknif...,https://twitter.com/dougrutherford/status/8229...,NaN
635,"Yellowknife, NWT, Canada",NaN,Canada,100.0,130.0,http://www.cbc.ca/news/canada/north/yellowknif...,https://twitter.com/TheMooseCJCD/status/822924...,NaN
637,"Hanoi, Vietnam",NaN,Vietnam,27.0,27.0,via email (JP),NaN,NaN
638,"Kassel, Germany",NaN,Germany,100.0,100.0,https://www.facebook.com/savkassel/photos/pcb....,NaN,NaN
640,"Bremerhaven, Germany",NaN,Germany,30.0,30.0,email/FB,NaN,NaN
641,"Huntsville, Ontario, Canada",NaN,Canada,30.0,30.0,https://doppleronline.ca/huntsville/sistermarc...,NaN,NaN
644,"Isla Mujeres, Mexico",NaN,Mexico,5.0,5.0,headcount from FB photo,NaN,NaN
645,"Cuenca, Ecuador",NaN,Ecuador,20.0,50.0,http://zeromagecuador.com/en/womens-march-in-c...,NaN,NaN
646,"Belfast, UK",NaN,UK,200.0,300.0,http://www.bbc.com/news/uk-northern-ireland-38...,https://twitter.com/ferguskelly/status/8231580...,NaN
647,"Castlebar, Ireland",NaN,Ireland,120.0,120.0,https://twitter.com/ClearyConnolly/status/8232...,NaN,NaN
648,"Montpellier, France",NaN,France,500.0,3000.0,http://www.midilibre.fr/2017/01/21/montpellier...,https://twitter.com/marienoellewurm/status/823...,https://t.co/dYoxYWZ13q
649,"Guelph, ON, Canada",NaN,Canada,545.0,545.0,https://twitter.com/l2m2d2/status/823146333095...,NaN,NaN
650,"Lusaka, Zambia",NaN,Zambia,140.0,140.0,https://twitter.com/ZamWomenMarch/status/82312...,NaN,NaN
651,"Songdo, South Korea",NaN,South Korea,25.0,25.0,https://twitter.com/jodikittle/status/82310507...,NaN,NaN
652,"Shipley, UK",NaN,UK,1400.0,1400.0,https://twitter.com/chickpeajones/status/82279...,NaN,NaN
653,"Maadi Degla, Cairo, Egypt",NaN,Egypt,4.0,4.0,https://twitter.com/ABHodgkins/status/82308134...,NaN,NaN
654,"Trondheim, Norway",NaN,Norway,260.0,260.0,http://www.adressa.no/nyheter/trondheim/2017/0...,NaN,NaN
656,"Rabat, Morocco",NaN,Morocco,23.0,23.0,eyewitness onsite (also picture),NaN,NaN
659,"Riga, Latvia",NaN,Latvia,200.0,200.0,http://www.lsm.lv/en/article/politics/women-ma...,NaN,NaN
660,"Oranjestad, Aruba",NaN,Aruba,1.0,1.0,https://twitter.com/rymey/status/8233040549358...,NaN,NaN
662,Oaxaca,NaN,Mexico,1000.0,2000.0,eyewitness,email citing transit police,NaN

In [167]:
# this is spelled wrong
t_town = df[ df['place']=='Tblisi, Georgia']
df.loc[t_town.index,'place'] = 'Tbilisi, Georgia'

# this is that header type row
df.drop( df[ df.place.str.contains('partial')].index, axis=0, inplace=True )

In [168]:

def fix_us_place_names(place, country):
    if country != "US":
        return place
    res  = place.split(', ')
    if len(res) < 2 or res[-1] not in state_lookup:
        return place
    state = state_lookup[res[-1]]
    res[-1]= state
    res.append('United States')
    return ', '.join(res)

# z = "Abilene, TX"
# # z = "Encinitas, CA (Seacrest)"
# country = "US"
# fix_us_place_names(z, country)

# df['col'] = 'str' + df['col'].astype(str)
# df["new_column"] = df.apply(lambda x: x["A"] * x["B"], axis = 1)
# df.columns = df.columns.append('full_place')

# create a new col with the full place name, for easier geocoding
df = df.assign(full_place=df.place)
df.full_place = df.apply(lambda x: fix_us_place_names(x.place, x.country) , axis=1 )

In [220]:
# g = geocoder.google("New York, New York, United States")
# g.latlng
cache = {}

In [242]:
# make our new cols
df = df.assign(latlng=df.place)
df = df.assign(lng=df.place)


def get_lat(x): 
    if x in cache:
        return cache[x][0]    
    print(x)
    g = geocoder.google(x)
    if g.latlng:
        cache[x] = g.latlng
        return g.latlng[0]
    else:
        return pd.np.nan

def get_lng(x): 
    if x in cache:
        return cache[x][1]
    print(x)
    g = geocoder.google(x)
    if g.latlng:
        cache[x] = g.latlng        
        return g.latlng[1]
    else:
        return pd.np.nan

df['lat'] = df.full_place.apply(lambda x: get_lat(x) )
df['lng'] = df.full_place.apply(lambda x: get_lng(x) )
df
# this can actually be run multiple times, which will fix missing data

Milhelm, Pennsylvania, United States
Milhelm, Pennsylvania, United States

,place,state,country,estimate_low,estimate_high,source,source2,source3,full_place,lat,lng,latlng
0,"Abilene, TX",TX,US,200.0,200.0,http://www.reporternews.com/story/news/local/2...,NaN,NaN,"Abilene, Texas, United States",32.448736,-99.733144,"Abilene, TX"
1,"Accident, MD",MD,US,54.0,54.0,Twitter; on-site witness,NaN,NaN,"Accident, Maryland, United States",39.628696,-79.319759,"Accident, MD"
2,"Adak, AK",AK,US,10.0,10.0,adn.com,NaN,NaN,"Adak, Alaska, United States",51.880000,-176.658056,"Adak, AK"
3,"Adrian, MI",MI,US,130.0,150.0,https://www.facebook.com/events/847360115406578/,http://www.lenconnect.com/news/20170122/marche...,NaN,"Adrian, Michigan, United States",41.897547,-84.037166,"Adrian, MI"
4,"Ajo, AZ",AZ,US,250.0,250.0,https://www.facebook.com/plugins/post.php?href...,NaN,NaN,"Ajo, Arizona, United States",32.371725,-112.860710,"Ajo, AZ"
5,"Alameda, CA",CA,US,8.0,8.0,FB,NaN,NaN,"Alameda, California, United States",37.765206,-122.241636,"Alameda, CA"
6,"Alamosa, CO",CO,US,350.0,350.0,https://twitter.com/zepol/status/8232349739352...,NaN,NaN,"Alamosa, Colorado, United States",37.469449,-105.870021,"Alamosa, CO"
7,"Albany, CA",CA,US,500.0,500.0,https://twitter.com/ben_silverman/status/82303...,Albany PD (reported via google form),NaN,"Albany, California, United States",37.886870,-122.297747,"Albany, CA"
8,"Albany, NY",NY,US,7000.0,9000.0,http://www.timesunion.com/local/article/Albany...,FB,NaN,"Albany, New York, United States",42.652579,-73.756232,"Albany, NY"
9,"Alexandria, VA",VA,US,17.0,17.0,https://twitter.com/TinaPStacy/status/82322604...,NaN,NaN,"Alexandria, Virginia, United States",38.804836,-77.046921,"Alexandria, VA"
10,"Albuquerque, NM",NM,US,3000.0,20000.0,http://www.koat.com/article/thousands-fill-civ...,https://twitter.com/PatDavisNM/status/82293149...,https://twitter.com/AthertonKD/status/82321516...,"Albuquerque, New Mexico, United States",35.085334,-106.605553,"Albuquerque, NM"
11,"Almanor West, CA",CA,US,4.0,4.0,eyewitness; picture,NaN,NaN,"Almanor West, California, United States",40.234637,-121.202534,"Almanor West, CA"
12,"Alpine, TX",TX,US,96.0,96.0,https://twitter.com/sarahmvasquez/status/82318...,NaN,NaN,"Alpine, Texas, United States",30.358492,-103.661012,"Alpine, TX"
13,"Amarillo, TX",TX,US,600.0,600.0,https://www.texastribune.org/2017/01/21/thousa...,NaN,NaN,"Amarillo, Texas, United States",35.221997,-101.831297,"Amarillo, TX"
14,"Amelia Island, FL",FL,US,700.0,1300.0,http://www.firstcoastnews.com/news/womens-marc...,https://twitter.com/wideofthepost/status/82307...,NaN,"Amelia Island, Florida, United States",30.626570,-81.460856,"Amelia Island, FL"
16,"Anchorage, AK",AK,US,2000.0,3000.0,https://www.adn.com/alaska-news/2017/01/21/lar...,https://twitter.com/julia_omalley/status/82290...,NaN,"Anchorage, Alaska, United States",61.218056,-149.900278,"Anchorage, AK"
17,"Ann Arbor, MI",MI,US,11000.0,11000.0,http://www.mlive.com/news/ann-arbor/index.ssf/...,NaN,NaN,"Ann Arbor, Michigan, United States",42.280826,-83.743038,"Ann Arbor, MI"
18,"Annapolis, MD",MD,US,1600.0,1600.0,http://www.capitalgazette.com/news/annapolis/p...,NaN,NaN,"Annapolis, Maryland, United States",38.978445,-76.492183,"Annapolis, MD"
20,"Asbury Park, NJ",NJ,US,6000.0,6000.0,https://twitter.com/JuliaJHobbs/status/8229551...,NaN,NaN,"Asbury Park, New Jersey, United States",40.220391,-74.012082,"Asbury Park, NJ"
21,"Asheville, NC",NC,US,7000.0,10000.0,http://wlos.com/news/local/photo-gallery-the-w...,http://wlos.com/news/local/photo-gallery-the-w...,NaN,"Asheville, North Carolina, United States",35.595058,-82.551487,"Asheville, NC"
22,"Ashland, OR",OR,US,6000.0,8000.0,http://www.mailtribune.com/news/20170121/voice...,http://ijpr.org/post/southern-oregon-womens-ma...,NaN,"Ashland, Oregon, United States",42.194576,-122.709477,"Ashland, OR"
23,"Aspen, CO",CO,US,1000.0,1000.0,https://twitter.com/SarahGoTrillIum/status/823...,NaN,NaN,"Aspen, Colorado, United States",39.191098,-106.817539,"Aspen, CO"
24,"Astoria, OR",OR,US,100.0,1000.0,http://www.dailyastorian.com/Local_News/201701...,NaN,NaN,"Astoria, Oregon, United States",46.187884,-123.831253,"Astoria, OR"
25,"Athens, GA",GA,US,700.0,5000.0,http://onlineathens.com/slideshow/2017-01-21/p...,FB,NaN,"Athens, Georgia, United States",33.951935,-83.357567,"Athens, GA"
26,"Atlanta, GA",GA,US,60000.0,63000.0,http://www.ajc.com/news/state--regional-govt--...,http://www.nbcnews.com/storyline/inauguration-...,NaN,"Atlanta, Georgia, United States",33.748995,-84.387982,"Atlanta, GA"
27,"Augusta, GA",GA,US,600.0,600.0,http://chronicle.augusta.com/news/2017-01-21/h...,NaN,NaN,"Augusta, Georgia, United States",33.473498,-82.010515,"Augusta, GA"
28,"Augusta, ME",ME,US,10000.0,10000.0,http://bangordailynews.com/2017/01/21/news/sta...,NaN,NaN,"Augusta, Maine, United States",44.310624,-69.779490,"Augusta, ME"
29,"Austin, TX",TX,US,30000.0,50000.0,http://kut.org/post/tens-thousands-participate...,http://www.statesman.com/news/local/police-000...,NaN,"Austin, Texas, United States",30.267153,-97.743061,"Austin, TX"
30,"Avalon, CA",CA,US,44.0,44.0,https://twitter.com/lisakate111/status/8230183...,NaN,NaN,"Avalon, California, United States",33.342819,-118.328228,"Avalon, CA"
31,"Bainbridge Island, WA",WA,US,200.0,350.0,onsite eyewitness; headcount,onsite eyewitness; headcount,NaN,"Bainbridge Island, Washington, United States",47.624879,-122.521001,"Bainbridge Island, WA"
...,...,...,...,...,...,...,...,...,...,...,...,...
624,"Whitehorse, Canada",NaN,Canada,200.0,200.0,FB,NaN,NaN,"Whitehorse, Canada",60.721187,-135.056845,"Whitehorse, Canada"
625,"Munich, Germany",NaN,Germany,600.0,800.0,https://www.facebook.com/113387388277/photos/?...,https://twitter.com/marionanddaniel/status/823...,http://www.danielkempfseifried.de/we-the-peopl...,"Munich, Germany",48.135125,11.581981,"Munich, Germany"
626,"The Hague, The Netherlands",NaN,Netherlands,2000.0,2000.0,FB,NaN,NaN,"The Hague, The Netherlands",52.070498,4.300700,"The Hague, The Netherlands"
627,Singapore,NaN,Singapore,50.0,50.0,Eyewitness account,NaN,NaN,Singapore,1.352083,103.819836,Singapore
628,"Bangor, Wales, UK",NaN,UK,400.0,400.0,"FB, Twitter",NaN,NaN,"Bangor, Wales, UK",53.227390,-4.129263,"Bangor, Wales, UK"
629,"Mwanza, Tanzania",NaN,Tanzania,19.0,19.0,https://twitter.com/LeishLin/status/8230581508...,NaN,NaN,"Mwanza, Tanzania",-2.516430,32.917452,"Mwanza, Tanzania"
630,"Nanaimo, Canada",NaN,Canada,1000.0,1000.0,http://nanaimonewsnow.com/article/522757/women...,NaN,NaN,"Nanaimo, Canada",49.165884,-123.940065,"Nanaimo, Canada"
632,"Saskatoon, Canada",NaN,Canada,800.0,1000.0,http://thestarphoenix.com/storyline/hundreds-m...,https://twitter.com/m_cvb/status/8230754311967...,NaN,"Saskatoon, Canada",52.133214,-106.670046,"Saskatoon, Canada"
633,"North West River, Labrador, Canada",NaN,Canada,20.0,20.0,https://twitter.com/amybeatrice/status/8229007...,NaN,NaN,"North West River, Labrador, Canada",53.525511,-60.142970,"North West River, Labrador, Canada"
634,"Whitehorse, Yukon, Canada",NaN,Canada,100.0,300.0,http://www.cbc.ca/news/canada/north/yellowknif...,https://twitter.com/dougrutherford/status/8229...,NaN,"Whitehorse, Yukon, Canada",60.721187,-135.056845,"Whitehorse, Yukon, Canada"
635,"Yellowknife, NWT, Canada",NaN,Canada,100.0,130.0,http://www.cbc.ca/news/canada/north/yellowknif...,https://twitter.com/TheMooseCJCD/status/822924...,NaN,"Yellowknife, NWT, Canada",62.453972,-114.371789,"Yellowknife, NWT, Canada"
637,"Hanoi, Vietnam",NaN,Vietnam,27.0,27.0,via email (JP),NaN,NaN,"Hanoi, Vietnam",21.027764,105.834160,"Hanoi, Vietnam"
638,"Kassel, Germany",NaN,Germany,100.0,100.0,https://www.facebook.com/savkassel/photos/pcb....,NaN,NaN,"Kassel, Germany",51.312711,9.479746,"Kassel, Germany"
640,"Bremerhaven, Germany",NaN,Germany,30.0,30.0,email/FB,NaN,NaN,"Bremerhaven, Germany",53.539584,8.580942,"Bremerhaven, Germany"
641,"Huntsville, Ontario, Canada",NaN,Canada,30.0,30.0,https://doppleronline.ca/huntsville/sistermarc...,NaN,NaN,"Huntsville, Ontario, Canada",45.326932,-79.216754,"Huntsville, Ontario, Canada"
644,"Isla Mujeres, Mexico",NaN,Mexico,5.0,5.0,headcount from FB photo,NaN,NaN,"Isla Mujeres, Mexico",21.236695,-86.735768,"Isla Mujeres, Mexico"
645,"Cuenca, Ecuador",NaN,Ecuador,20.0,50.0,http://zeromagecuador.com/en/womens-march-in-c...,NaN,NaN,"Cuenca, Ecuador",-2.900129,-79.005896,"Cuenca, Ecuador"
646,"Belfast, UK",NaN,UK,200.0,300.0,http://www.bbc.com/news/uk-northern-ireland-38...,https://twitter.com/ferguskelly/status/8231580...,NaN,"Belfast, UK",54.597285,-5.930120,"Belfast, UK"
647,"Castlebar, Ireland",NaN,Ireland,120.0,120.0,https://twitter.com/ClearyConnolly/status/8232...,NaN,NaN,"Castlebar, Ireland",53.855001,-9.287926,"Castlebar, Ireland"
648,"Montpellier, France",NaN,France,500.0,3000.0,http://www.midilibre.fr/2017/01/21/montpellier...,https://twitter.com/marienoellewurm/status/823...,https://t.co/dYoxYWZ13q,"Montpellier, France",43.610769,3.876716,"Montpellier, France"
649,"Guelph, ON, Canada",NaN,Canada,545.0,545.0,https://twitter.com/l2m2d2/status/823146333095...,NaN,NaN,"Guelph, ON, Canada",43.544805,-80.248167,"Guelph, ON, Canada"
650,"Lusaka, Zambia",NaN,Zambia,140.0,140.0,https://twitter.com/ZamWomenMarch/status/82312...,NaN,NaN,"Lusaka, Zambia",-15.387526,28.322816,"Lusaka, Zambia"
651,"Songdo, South Korea",NaN,South Korea,25.0,25.0,https://twitter.com/jodikittle/status/82310507...,NaN,NaN,"Songdo, South Korea",37.383912,126.643855,"Songdo, South Korea"
652,"Shipley, UK",NaN,UK,1400.0,1400.0,https://twitter.com/chickpeajones/status/82279...,NaN,NaN,"Shipley, UK",53.835927,-1.776978,"Shipley, UK"
653,"Maadi Degla, Cairo, Egypt",NaN,Egypt,4.0,4.0,https://twitter.com/ABHodgkins/status/82308134...,NaN,NaN,"Maadi Degla, Cairo, Egypt",29.954535,31.271634,"Maadi Degla, Cairo, Egypt"
654,"Trondheim, Norway",NaN,Norway,260.0,260.0,http://www.adressa.no/nyheter/trondheim/2017/0...,NaN,NaN,"Trondheim, Norway",63.430515,10.395053,"Trondheim, Norway"
656,"Rabat, Morocco",NaN,Morocco,23.0,23.0,eyewitness onsite (also picture),NaN,NaN,"Rabat, Morocco",33.971590,-6.849813,"Rabat, Morocco"
659,"Riga, Latvia",NaN,Latvia,200.0,200.0,http://www.lsm.lv/en/article/politics/women-ma...,NaN,NaN,"Riga, Latvia",56.949649,24.105186,"Riga, Latvia"
660,"Oranjestad, Aruba",NaN,Aruba,1.0,1.0,https://twitter.com/rymey/status/8233040549358...,NaN,NaN,"Oranjestad, Aruba",12.509204,-70.008631,"Oranjestad, Aruba"
662,Oaxaca,NaN,Mexico,1000.0,2000.0,eyewitness,email citing transit police,NaN,Oaxaca,17.068631,-96.721903,Oaxaca

In [245]:
df.dropna(axis=0, how='any', subset=['lat', 'lng'], inplace=True)
# df.drop(["latlng"], axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 595 entries, 0 to 662
Data columns (total 12 columns):
place            595 non-null object
state            503 non-null object
country          595 non-null object
estimate_low     594 non-null float64
estimate_high    595 non-null float64
source           592 non-null object
source2          173 non-null object
source3          21 non-null object
full_place       595 non-null object
lat              595 non-null float64
lng              595 non-null float64
latlng           595 non-null object
dtypes: float64(4), object(8)
memory usage: 60.4+ KB

In [246]:
df.to_json("marches.json", orient="records")

In [236]:

# df.info()
# cache['Madison, Wisconsin, United States']
# df [ df['full_place']== "Madison, Wisconsin, United States" ]
# df[df.lat == False]
# df[df.lng == False]

,place,state,country,estimate_low,estimate_high,source,source2,source3,full_place,lat,lng
0,"Abilene, TX",TX,US,200.0,200.0,http://www.reporternews.com/story/news/local/2...,NaN,NaN,"Abilene, Texas, United States",32.4487,-99.7331
1,"Accident, MD",MD,US,54.0,54.0,Twitter; on-site witness,NaN,NaN,"Accident, Maryland, United States",39.6287,-79.3198
2,"Adak, AK",AK,US,10.0,10.0,adn.com,NaN,NaN,"Adak, Alaska, United States",51.88,-176.658
3,"Adrian, MI",MI,US,130.0,150.0,https://www.facebook.com/events/847360115406578/,http://www.lenconnect.com/news/20170122/marche...,NaN,"Adrian, Michigan, United States",41.8975,-84.0372
4,"Ajo, AZ",AZ,US,250.0,250.0,https://www.facebook.com/plugins/post.php?href...,NaN,NaN,"Ajo, Arizona, United States",32.3717,-112.861
5,"Alameda, CA",CA,US,8.0,8.0,FB,NaN,NaN,"Alameda, California, United States",37.7652,-122.242
6,"Alamosa, CO",CO,US,350.0,350.0,https://twitter.com/zepol/status/8232349739352...,NaN,NaN,"Alamosa, Colorado, United States",37.4694,-105.87
7,"Albany, CA",CA,US,500.0,500.0,https://twitter.com/ben_silverman/status/82303...,Albany PD (reported via google form),NaN,"Albany, California, United States",37.8869,-122.298
8,"Albany, NY",NY,US,7000.0,9000.0,http://www.timesunion.com/local/article/Albany...,FB,NaN,"Albany, New York, United States",42.6526,-73.7562
9,"Alexandria, VA",VA,US,17.0,17.0,https://twitter.com/TinaPStacy/status/82322604...,NaN,NaN,"Alexandria, Virginia, United States",38.8048,-77.0469
10,"Albuquerque, NM",NM,US,3000.0,20000.0,http://www.koat.com/article/thousands-fill-civ...,https://twitter.com/PatDavisNM/status/82293149...,https://twitter.com/AthertonKD/status/82321516...,"Albuquerque, New Mexico, United States",35.0853,-106.606
11,"Almanor West, CA",CA,US,4.0,4.0,eyewitness; picture,NaN,NaN,"Almanor West, California, United States",40.2346,-121.203
12,"Alpine, TX",TX,US,96.0,96.0,https://twitter.com/sarahmvasquez/status/82318...,NaN,NaN,"Alpine, Texas, United States",30.3585,-103.661
13,"Amarillo, TX",TX,US,600.0,600.0,https://www.texastribune.org/2017/01/21/thousa...,NaN,NaN,"Amarillo, Texas, United States",35.222,-101.831
14,"Amelia Island, FL",FL,US,700.0,1300.0,http://www.firstcoastnews.com/news/womens-marc...,https://twitter.com/wideofthepost/status/82307...,NaN,"Amelia Island, Florida, United States",30.6266,-81.4609
16,"Anchorage, AK",AK,US,2000.0,3000.0,https://www.adn.com/alaska-news/2017/01/21/lar...,https://twitter.com/julia_omalley/status/82290...,NaN,"Anchorage, Alaska, United States",61.2181,-149.9
17,"Ann Arbor, MI",MI,US,11000.0,11000.0,http://www.mlive.com/news/ann-arbor/index.ssf/...,NaN,NaN,"Ann Arbor, Michigan, United States",42.2808,-83.743
18,"Annapolis, MD",MD,US,1600.0,1600.0,http://www.capitalgazette.com/news/annapolis/p...,NaN,NaN,"Annapolis, Maryland, United States",38.9784,-76.4922
20,"Asbury Park, NJ",NJ,US,6000.0,6000.0,https://twitter.com/JuliaJHobbs/status/8229551...,NaN,NaN,"Asbury Park, New Jersey, United States",40.2204,-74.0121
21,"Asheville, NC",NC,US,7000.0,10000.0,http://wlos.com/news/local/photo-gallery-the-w...,http://wlos.com/news/local/photo-gallery-the-w...,NaN,"Asheville, North Carolina, United States",35.5951,-82.5515
22,"Ashland, OR",OR,US,6000.0,8000.0,http://www.mailtribune.com/news/20170121/voice...,http://ijpr.org/post/southern-oregon-womens-ma...,NaN,"Ashland, Oregon, United States",42.1946,-122.709
23,"Aspen, CO",CO,US,1000.0,1000.0,https://twitter.com/SarahGoTrillIum/status/823...,NaN,NaN,"Aspen, Colorado, United States",39.1911,-106.818
24,"Astoria, OR",OR,US,100.0,1000.0,http://www.dailyastorian.com/Local_News/201701...,NaN,NaN,"Astoria, Oregon, United States",46.1879,-123.831
25,"Athens, GA",GA,US,700.0,5000.0,http://onlineathens.com/slideshow/2017-01-21/p...,FB,NaN,"Athens, Georgia, United States",33.9519,-83.3576
26,"Atlanta, GA",GA,US,60000.0,63000.0,http://www.ajc.com/news/state--regional-govt--...,http://www.nbcnews.com/storyline/inauguration-...,NaN,"Atlanta, Georgia, United States",33.749,-84.388
27,"Augusta, GA",GA,US,600.0,600.0,http://chronicle.augusta.com/news/2017-01-21/h...,NaN,NaN,"Augusta, Georgia, United States",33.4735,-82.0105
28,"Augusta, ME",ME,US,10000.0,10000.0,http://bangordailynews.com/2017/01/21/news/sta...,NaN,NaN,"Augusta, Maine, United States",44.3106,-69.7795
29,"Austin, TX",TX,US,30000.0,50000.0,http://kut.org/post/tens-thousands-participate...,http://www.statesman.com/news/local/police-000...,NaN,"Austin, Texas, United States",30.2672,-97.7431
30,"Avalon, CA",CA,US,44.0,44.0,https://twitter.com/lisakate111/status/8230183...,NaN,NaN,"Avalon, California, United States",33.3428,-118.328
31,"Bainbridge Island, WA",WA,US,200.0,350.0,onsite eyewitness; headcount,onsite eyewitness; headcount,NaN,"Bainbridge Island, Washington, United States",47.6249,-122.521
...,...,...,...,...,...,...,...,...,...,...,...
624,"Whitehorse, Canada",NaN,Canada,200.0,200.0,FB,NaN,NaN,"Whitehorse, Canada",60.7212,-135.057
625,"Munich, Germany",NaN,Germany,600.0,800.0,https://www.facebook.com/113387388277/photos/?...,https://twitter.com/marionanddaniel/status/823...,http://www.danielkempfseifried.de/we-the-peopl...,"Munich, Germany",48.1351,11.582
626,"The Hague, The Netherlands",NaN,Netherlands,2000.0,2000.0,FB,NaN,NaN,"The Hague, The Netherlands",52.0705,4.3007
627,Singapore,NaN,Singapore,50.0,50.0,Eyewitness account,NaN,NaN,Singapore,1.35208,103.82
628,"Bangor, Wales, UK",NaN,UK,400.0,400.0,"FB, Twitter",NaN,NaN,"Bangor, Wales, UK",53.2274,-4.12926
629,"Mwanza, Tanzania",NaN,Tanzania,19.0,19.0,https://twitter.com/LeishLin/status/8230581508...,NaN,NaN,"Mwanza, Tanzania",-2.51643,32.9175
630,"Nanaimo, Canada",NaN,Canada,1000.0,1000.0,http://nanaimonewsnow.com/article/522757/women...,NaN,NaN,"Nanaimo, Canada",49.1659,-123.94
632,"Saskatoon, Canada",NaN,Canada,800.0,1000.0,http://thestarphoenix.com/storyline/hundreds-m...,https://twitter.com/m_cvb/status/8230754311967...,NaN,"Saskatoon, Canada",52.1332,-106.67
633,"North West River, Labrador, Canada",NaN,Canada,20.0,20.0,https://twitter.com/amybeatrice/status/8229007...,NaN,NaN,"North West River, Labrador, Canada",53.5255,-60.143
634,"Whitehorse, Yukon, Canada",NaN,Canada,100.0,300.0,http://www.cbc.ca/news/canada/north/yellowknif...,https://twitter.com/dougrutherford/status/8229...,NaN,"Whitehorse, Yukon, Canada",60.7212,-135.057
635,"Yellowknife, NWT, Canada",NaN,Canada,100.0,130.0,http://www.cbc.ca/news/canada/north/yellowknif...,https://twitter.com/TheMooseCJCD/status/822924...,NaN,"Yellowknife, NWT, Canada",62.454,-114.372
637,"Hanoi, Vietnam",NaN,Vietnam,27.0,27.0,via email (JP),NaN,NaN,"Hanoi, Vietnam",21.0278,105.834
638,"Kassel, Germany",NaN,Germany,100.0,100.0,https://www.facebook.com/savkassel/photos/pcb....,NaN,NaN,"Kassel, Germany",51.3127,9.47975
640,"Bremerhaven, Germany",NaN,Germany,30.0,30.0,email/FB,NaN,NaN,"Bremerhaven, Germany",53.5396,8.58094
641,"Huntsville, Ontario, Canada",NaN,Canada,30.0,30.0,https://doppleronline.ca/huntsville/sistermarc...,NaN,NaN,"Huntsville, Ontario, Canada",45.3269,-79.2168
644,"Isla Mujeres, Mexico",NaN,Mexico,5.0,5.0,headcount from FB photo,NaN,NaN,"Isla Mujeres, Mexico",21.2367,-86.7358
645,"Cuenca, Ecuador",NaN,Ecuador,20.0,50.0,http://zeromagecuador.com/en/womens-march-in-c...,NaN,NaN,"Cuenca, Ecuador",-2.90013,-79.0059
646,"Belfast, UK",NaN,UK,200.0,300.0,http://www.bbc.com/news/uk-northern-ireland-38...,https://twitter.com/ferguskelly/status/8231580...,NaN,"Belfast, UK",54.5973,-5.93012
647,"Castlebar, Ireland",NaN,Ireland,120.0,120.0,https://twitter.com/ClearyConnolly/status/8232...,NaN,NaN,"Castlebar, Ireland",53.855,-9.28793
648,"Montpellier, France",NaN,France,500.0,3000.0,http://www.midilibre.fr/2017/01/21/montpellier...,https://twitter.com/marienoellewurm/status/823...,https://t.co/dYoxYWZ13q,"Montpellier, France",43.6108,3.87672
649,"Guelph, ON, Canada",NaN,Canada,545.0,545.0,https://twitter.com/l2m2d2/status/823146333095...,NaN,NaN,"Guelph, ON, Canada",43.5448,-80.2482
650,"Lusaka, Zambia",NaN,Zambia,140.0,140.0,https://twitter.com/ZamWomenMarch/status/82312...,NaN,NaN,"Lusaka, Zambia",-15.3875,28.3228
651,"Songdo, South Korea",NaN,South Korea,25.0,25.0,https://twitter.com/jodikittle/status/82310507...,NaN,NaN,"Songdo, South Korea",37.3839,126.644
652,"Shipley, UK",NaN,UK,1400.0,1400.0,https://twitter.com/chickpeajones/status/82279...,NaN,NaN,"Shipley, UK",53.8359,-1.77698
653,"Maadi Degla, Cairo, Egypt",NaN,Egypt,4.0,4.0,https://twitter.com/ABHodgkins/status/82308134...,NaN,NaN,"Maadi Degla, Cairo, Egypt",29.9545,31.2716
654,"Trondheim, Norway",NaN,Norway,260.0,260.0,http://www.adressa.no/nyheter/trondheim/2017/0...,NaN,NaN,"Trondheim, Norway",63.4305,10.3951
656,"Rabat, Morocco",NaN,Morocco,23.0,23.0,eyewitness onsite (also picture),NaN,NaN,"Rabat, Morocco",33.9716,-6.84981
659,"Riga, Latvia",NaN,Latvia,200.0,200.0,http://www.lsm.lv/en/article/politics/women-ma...,NaN,NaN,"Riga, Latvia",56.9496,24.1052
660,"Oranjestad, Aruba",NaN,Aruba,1.0,1.0,https://twitter.com/rymey/status/8233040549358...,NaN,NaN,"Oranjestad, Aruba",12.5092,-70.0086
662,Oaxaca,NaN,Mexico,1000.0,2000.0,eyewitness,email citing transit police,NaN,Oaxaca,17.0686,-96.7219